﻿@using NoName.Web.Models
@model NoName.Domain.Order
@{
    ViewBag.Title = "Заказ размещён :: www.unixmart.ru";
    ViewBag.PageClass = "home category-01";
    var ecommerce = ViewBag.ECommerce;
}

@section scriptPixelBefore
{
    @Html.Raw(ecommerce)
}

<div class="breadcrumbs">
    <a href="@Url.Action(MVC.Home.Index())">Главная</a>
    |
    <span>Заказ №@Model.OrderNum</span>
</div>
<div class="order-thanks">Спасибо за заказ!</div>
<p>
    Ваш заказ № @Model.OrderNum поступил  к нашим операторам в @Model.DateCreate.ToString("HH:mm")МСК.
    <br />
    Наш менеджер свяжется с Вами в ближайшее время для уточнения удобного времени доставки.
</p>
<h1>заказ № @Model.OrderNum</h1>
<div class="order-details">
    <div class="order-details-goods">
        <h3>Товары</h3>
        <ul>
            @foreach (var item in Model.Items)
            {
                <li>
                    <span class="order-details-goods-param">@item.FullName</span>
                    <span class="order-details-goods-value">@item.PriceString</span>
                    <span class="order-details-goods-quantity">@item.Amount</span>
                </li>
            }
        </ul>
        <h3>Доставка</h3>
        <ul>
            <li>
                <span class="order-details-goods-param">@Model.DeliveryName</span>
                <span class="order-details-goods-value">@Model.DeliveryPrice.ToString("#,#0") руб.</span>
            </li>
        </ul>
        @*<h3>Гарантия</h3>
        <ul>
            <li>
                <span class="order-details-goods-param">Дополнительная гарантия на 1 год</span>
                <span class="order-details-goods-value">550 руб.</span>
            </li>
        </ul>*@
    </div>
    <div class="order-details-price">
        <span class="order-details-price-param">Общая стоимость заказа</span>
        <span class="order-details-price-value">@Model.TotalPrice.ToString("#,#0") руб.</span>
    </div>
    <div class="order-details-personal">
        @if (Model.ShowAddress)
        {
            <h3>Адрес доставки:</h3>
            <p>
                @Model.Street<br />
                дом @Model.House<br />
                квартира @Model.Flat
            </p>
        }

        <h3>Заказчик:</h3>
        <p>
            @Model.Person<br />
            @Model.Phone<br />
            @Model.EMail
        </p>
        <h3>Комментарии:</h3>
        <p>@Model.Comments</p>
    </div>
</div>
@Html.Action(MVC.Layout.FinishCat())

