﻿@model NoName.Web.Models.OrderViewModel
@{
    ViewBag.Title = "Доставка :: www.unixmart.ru";
    ViewBag.PageClass = "home category-01";
}

@using (Html.BeginForm(MVC.Order.Index(), FormMethod.Post, new { @class = "cart2" }))
{
    @Html.ValidationSummary()
    <div class="h1">Оформление заказа</div>

    <div class="cart2-group cart2-group-orange">
        <div class="h2">Заказчик</div>
        <div class="cart2-group-container">
            <label class="col-xs-12">
                <span>Контактное лицо <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Name)
            </label>
            <label class="col-xs-12">
                <span>Контактный телефон <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Phone, new { @class = "mask-phone", @type = "phone", pattern = "[0-9]\\([0-9]{3}\\)[0-9]{7}", inputmode = "numeric" })
            </label>
            <label class="col-xs-12">
                <span>E-mail <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Email)
            </label>
        </div>
    </div>

    <label class="cart2-agree">
        @Html.CheckBoxFor(m => m.OfertaAccept)
        <span>
            Нажимая кнопку "Отправить заказ", я подтверждаю свою дееспособность. Даю согласие на получение рассылки рекламно-информационного характера и на обработку своих <a href="/info/policy" target="_blank">персональных данных</a> в целях продвижения товаров и услуг.
        </span>
    </label>

    <button type="submit" class="btn btn-apply">Отправить заказ</button>
}
