﻿<div class="popup-container card-phone-container" data-action="dropdown2" id="card_callback">
    <span class="popup-container-close" data-action="close"></span>
    <div class="card-phone-container-head">Укажите номер телефона – оператор сам перезвонит вам через 4 минуты</div>
    @using (Html.BeginForm(MVC.Request.Index(), FormMethod.Post, new { @class = "requestCallback" }))
    {
        <input type="phone" placeholder="" value="" name="callbackPhone" class="mask-phone" pattern="[0-9]\([0-9]{3}\)[0-9]{7}" inputmode="numeric" />
        <button type="submit" class="btn btn-apply" id="submitButton">Позвонить</button>
    }
</div>
