﻿@model IList<NoName.Domain.GoodsItem>
@if (Model != null && Model.Count > 0)
{
    <section class="content-section">
        <h4>С этим товаром также покупают</h4>
        <div class="content-slider" data-slide-items="6">
            <div class="content-slider-wrapper">
                @foreach (var item in Model)
                {
                    <article class="goods">
                        <figure class="goods-image">
                            <img src="@item.Image.Src" alt="@item.FullName" />
                        </figure>
                        <div class="h3">@item.FullName</div>
                        <div class="goods-price">@item.PriceString</div>
                        <div class="popup" data-remote="true" data-target="#cartPopup" data-pos="above" data-id="@item.ObjectID">
                            <a href="#" class="goods-buy-link btn btn-apply popup-link">Купить</a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>
}

