﻿@using NoName.Domain
@using NoName.Web.Models
@model NoName.Web.Models.GoodsItemPageModel
@{
    ViewBag.Title = @Model.Title ?? "Карточка товара :: www.unixmart.ru";
    ViewBag.Keywords = @Model.Keywords;
    ViewBag.PageDescription = @Model.PageDescription;
    ViewBag.PageClass = Model.PageClass;
    var goods = Model.GoodsItem;
    ViewBag.ShowPriceMeta = true;
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Shared.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

<div class="card" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-xs-6">
            <h1 itemprop="name">@goods.FullName</h1>
            <div class="card-article">Артикул: <span>@goods.PseudoID</span> </div>
            @if (Model.OnlinePayment)
            {
                @Html.Partial(MVC.Goods.Views.OnlinePayment)
            }
            <div class="card-icon">
                @*<span class="card-icon-bars"></span>
                    <span class="card-icon-forward"></span>*@
            </div>

            @Html.Partial(MVC.Goods.Views.PriceBlock, new ShowPriceModel { Goods = goods, ShowMeta = true })

            @Html.Partial(MVC.Goods.Views.OrderPhone)

            <div class="card-tabs">
                <ul>
                    <li>
                        <a href="#delivery">
                            <img src="/Content/images/icon-car.png" />
                        </a>
                    </li>

                    @foreach (var article in Model.InfoList)
                    {
                        <li>
                            <a href="#@article.Title">
                                <img src="@article.Keywords" />
                            </a>
                        </li>
                    }
                </ul>
                @if (goods.InStock)
                {
                    <div class="card-tabs-container" id="delivery">
                        @foreach (var item in Model.DeliveryInfo.Items)
                        {
                            <p>
                                @item.Name: <strong>@item.PriceString</strong>
                            </p>
                        }
                    </div>
                }
                else
                {
                    <div class="card-tabs-container" id="delivery">
                        <p>
                            <strong>Внимание! </strong>В данный момент этого товара нет на складе
                        </p>
                    </div>
                }
                @foreach (var article in Model.InfoList)
                {
                    <div class="card-tabs-container" id="@article.Title">
                        @article.Body
                    </div>
                }
            </div>

            <section class="card-chars" itemprop="description">
                <h2>Характеристики</h2>

                <table>
                    <tr>
                        <td>
                            <h3>Производитель</h3></td>
                        <td><strong>@goods.ManufacturerName</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Модель</h3></td>
                        <td><strong>@goods.Model</strong></td>
                    </tr>
                    @foreach (var param in goods.GoodsParams)
                    {
                        <tr>
                            <td>
                                <h3>@param.ParamName</h3></td>
                            <td><strong>@param.ValueAUnit</strong></td>
                        </tr>
                    }
                </table>
            </section>
            @if (Model.OnlinePayment)
            {
                @Html.Partial(MVC.Goods.Views.OnlinePayment)
            }
            @Html.Partial(MVC.Goods.Views.PriceBlock, new ShowPriceModel { Goods = goods, ShowMeta = false })

            @Html.Partial(MVC.Goods.Views.OrderPhone)

        </div>
        <div class="col-xs-6">
            <div class="card-gallery">
                <span class="card-gallery-prev">Предыдущее</span>
                <!-- . active -->
                <span class="card-gallery-next">Следующее</span>
                <div class="card-gallery-large">
                    @for (var i = 1; i <= goods.GoodsImages.Count; i++)
                    {
                        ImageTrio image = goods.GoodsImages[i - 1];
                        <a href="@((image.LargeImage ?? image.Image).Src)" rel="goods-image" data-slide="@i" class="@( i == 1 ? "card-gallery-large-selected" : null)">
                            <img src="@((image.LargeImage ?? image.Image).Src)" alt="@goods.FullName фото" title="Заказать @goods.FullName" itemprop="image"/>
                        </a>
                    }
                </div>
                <div class="card-gallery-thmbs">
                    @for (var i = 1; i <= goods.GoodsImages.Count; i++)
                    {
                        var image = goods.GoodsImages[i - 1];
                        <a href="@((image.LargeImage ?? image.Image).Src)" class="@( i == 1 ? "active" : null)" data-slide-prv="@i">
                            <img src="@image.SmallImage.Src" alt="@goods.FullName фото" title="Заказать @goods.FullName" />
                        </a>
                    }
                </div>
            </div>
            @if (goods.Description != null && goods.Description.ToHtmlString().Length > 0)
            {
                <section class="card-text">
                    <h2>Описание</h2>

                    <p>@goods.Description</p>
                </section>
            }

        </div>
    </div>
</div>

@if (goods.InStock)
{
    @Html.Partial(MVC.Goods.Views.Accessory, Model.Accessory)
}
@Html.Partial(MVC.Goods.Views.SameCharsBlock)

@section subContent
{
    @Html.Action(MVC.Home.Abc())
}

@section addFooterContent
{
    @Html.Partial(MVC.Basket.Views.AddToBasketPopup, new Basket())
    @Html.Action(MVC.Basket.BuyOneClick(Model.GoodsItem.OID))
}
