﻿@model NoName.Web.Models.GoodsItemPageModel
<div class="card-phone popup">
    <a href="#" class="card-phone-order popup-link">Заказать звонок</a>
    <span>@Model.ShopPhone</span>
    @Html.Partial(MVC.Request.Views.FormCard)
</div>