﻿@model NoName.Web.Models.ShowPriceModel
@if (Model.ShowMeta)
{
    @:<div class="card-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
}
else
{
    @:<div class="card-price">
}
@if (Model.Goods.InStock)
{
    <span class="card-price-exists">Есть в наличии</span>
}
else
{
    <span class="card-price-exists">Товара нет в наличии</span>
}
<h2 class="price">Цена</h2>
<span class="card-price-digits">@Model.Goods.PriceString</span>
@if (Model.ShowMeta)
{
    <meta itemprop="price" content="@Model.Goods.PriceRub" />
    <meta itemprop="priceCurrency" content="RUB" />
}
</div>

<div class="card-buy">
    @if (Model.Goods.InStock)
    {
        <div class="card-buy-link popup" data-remote="true" data-target="#cartPopup" data-pos="above" data-id="@Model.Goods.ObjectID">
            <a href="#" class="goods-buy-link btn btn-apply popup-link">Купить</a>
        </div>
        <div class="card-buy-link popup" data-remote="true" data-target="#oneClickBuy" data-pos="above" data-id="@Model.Goods.ObjectID">
            <a class="btn btn-link popup-link" href="#">Купить в 1 клик</a>
        </div>
    }
</div>

