﻿@model NoName.Web.Models.GoodsItemPageModel
@{
    var items = Model.SameChars;
}
@if (items != null && items.Count > 0)
{
    <section class="content-section">
        @if (Model.GoodsItem.InStock)
        {
            <h4>Похожие товары</h4>
        }
        else
        {
            <h4>Товары с похожими характеристиками, доступные к доставке на завтра!</h4>
        }
        <div class="content-slider" data-slide-items="6">
            <div class="content-slider-wrapper">
                @foreach (var item in items)
                {
                    <article class="goods">
                        <figure class="goods-image">
                            <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">
                                <img src="@item.Image.Src" alt="@item.FullName фото" title="Заказать @item.FullName" />
                            </a>
                        </figure>
                        <div class="h3"><a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">@item.FullName</a>
                        </div>
                        <div class="goods-price">@item.PriceString</div>
                        <div class="popup" data-remote="true" data-target="#cartPopup" data-pos="above" data-id="@item.ObjectID">
                            <a href="#" class="goods-buy-link btn btn-apply popup-link">Купить</a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>
}

