﻿@model IList<NoName.Web.Models.CatalogMenuModel>
<div class="catList">
    <div class="container">
        <nav>
            @foreach (var item in Model)
            {
                <a class="catList-item @item.Css2" href="@Url.Action(item.Action)">@item.Name</a>
            }
        </nav>
    </div>
</div>
