﻿@model NoName.Web.Models.FooterNavModel
@{
    var mobile = Request.Browser.IsMobileDevice;
}
<div class="footerNav">
    <div class="container">
        <div class="footerNav-logo">
            <a href="#">
                <img src="/Content/images/logo_unixmart_footer.png" alt="магазин бытовой техники" />
                <span>магазин бытовой техники</span>
            </a>
        </div>
        <nav>

            <ul class="columns" data-columns="4">
                @foreach (var item in Model.CatalogMenu)
                {
                    <li class="dontsplit">
                        <a href="@Url.Action(item.Action)">@item.Name</a>
                        <ul>
                            @foreach (var child in item.ChildMenu)
                            {
                                <li><a href="@Url.Action(child.Action)">@child.Name</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
        </nav>
        <div class="footerNav-links">
            @Html.Partial(MVC.Layout.Views.ShopComments)
            <section class="footerNav-links-contacts">
                @if (mobile)
                {
                    <h3 class="f-hv-bold"><a href="tel:@Model.PurePhone">@Model.ShopPhone</a></h3>
                }
                else
                {
                    <h3 class="f-hv-bold">@Model.ShopPhone</h3>
                }
                
                <p>
                    <br/>
                    <br/>
                    @Model.WorkingTime
                    <br/>
                    <br/>
                </p>
                <div class="contacts-phone popup">
                    @Html.Partial(MVC.Request.Views.FormCard)
                </div>
            </section>
            @Html.Partial(MVC.Layout.Views.SocialLinks)
        </div>
    </div>
    <a href="#top" class="footerNav-2top">Наверх</a>
</div>
