﻿<footer class="footer">
    <div class="container">
        <div class="copy">
            © 2024 официальный интернет-магазин www.unixmart.ru
        </div>
        <div class="counter">
        </div>
    </div>
</footer>
