﻿@model NoName.Web.Models.HeaderModel
@{
    var mobile = Request.Browser.IsMobileDevice;
}
<header class="header" id="top">
    <div class="container">
        <div class="header-logo">
            <a href="/">
                <img src="/Content/images/logo_unixmart.png" alt="магазин бытовой техники" />
                <span>магазин бытовой техники</span>
            </a>
        </div>
        <div class="header-contacts">
            <div class="header-contacts-phone">
                @if (mobile)
                {
                    <span class="header-contacts-phone-value"><a class="call-phone" href="tel:@Model.PurePhone">@Model.ShopPhone</a></span>
                }
                else
                {
                    <span class="header-contacts-phone-value">@Model.ShopPhone</span>
                }

                @if (!string.IsNullOrWhiteSpace(Model.AlertMessage.ToHtmlString()))
                {
                    <span class="alert">@Model.AlertMessage</span>
                }
                else if (!mobile)
                {
                    <a href="#" data-dropdown2="card_callback">Заказать звонок</a>
                }
            </div>
        </div>
        <div class="header-service">
            <div class="header-service-link" data-dropdown2="service_dropdown" aria-label="Открыть меню">
                @foreach (var item in Model.Menu)
                {
                    <span>@item.Text</span>
                }
            </div>
            <div class="header-service-list" data-action="dropdown2" id="service_dropdown">
                @foreach (var item in Model.Menu)
                {
                    <a href="@item.MenuUrl">
                        <span class="@item.Attr"></span>
                        @item.Text
                    </a>
                }
            </div>
        </div>
        @Html.Action(MVC.Layout.Referal())
    </div>
</header>
