﻿@model IList<NoName.Domain.PromoBlock>
<div class="asideLinks">
    @foreach (var item in Model)
    {
        <a class="asideLinks-item" href="@item.Url">
            <img src="@item.Image.Src" alt="@item.Name" />
            <span>@item.Name</span>
        </a>
    }
</div>
