﻿@using Links
@{
    var pageClass = (string)ViewBag.PageClass;
    var homePage = (bool?)ViewBag.HomePage ?? false;
    var description = (string)ViewBag.PageDescription;
    var keywords = (string)ViewBag.Keywords;
    var canonical = (string)ViewBag.Canonical;
    var robots = (string)ViewBag.Robots;
    var prev = (string)ViewBag.PrevLink;
    var next = (string)ViewBag.NextLink;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @if (!string.IsNullOrWhiteSpace(description))
    {
        <meta name="description" content="@description" />
    }
    @if (!string.IsNullOrWhiteSpace(keywords))
    {
        <meta name="keywords" content="@keywords" />
    }
    @if (!string.IsNullOrWhiteSpace(robots))
    {
        <meta name="robots" content="@robots" />
    }
    @if (!string.IsNullOrWhiteSpace(canonical))
    {
        <link rel="canonical" href="@canonical" />
    }
    @if (!string.IsNullOrWhiteSpace(prev))
    {
        <link rel="prev" href="@prev" />
    }
    @if (!string.IsNullOrWhiteSpace(next))
    {
        <link rel="next" href="@next" />
    }
    <link rel="stylesheet" href="/Content/css/style.css" />
    <link rel="stylesheet" href="/Content/css/additional.css" />
    @Html.Partial(MVC.Shared.Views.StopSovetnik)
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body class="@pageClass">
    @RenderSection("scriptPixelBefore", false)
    @RenderSection("tagLayout", false)
    @Html.Partial(MVC.Shared.Views.GoogleTagManager)
    @Html.Action(MVC.Layout.Header(homePage))
    @Html.Action(MVC.Layout.HeaderCat())
    @Html.Action(MVC.Layout.CatNav(homePage))
    @RenderSection("addHeaderContent", false)
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("subContent", false)
    @Html.Action(MVC.Layout.FooterNav())
    @Html.Partial(MVC.Layout.Views.Footer)

    @RenderSection("addFooterContent", false)


    <script src="@Scripts.jquery_2_1_1_min_js"></script>
    <script src="@Scripts.jquery_ui_1_10_4_custom_min_js"></script>
    <script src="@Scripts.jquery_validate_min_js"></script>
    <script src="@Scripts.maskedit_js"></script>
    <script src="@Scripts.jquery_columnizer_js"></script>
    <script src="@Scripts.jquery_bxslider_min_js"></script>
    <script src="@Scripts.nnm_popup_js"></script>
    <script src="@Scripts.jquery_nouislider_all_min_js"></script>
    <script src="@Scripts.jquery_fancybox_js"></script>
    <script src="@Scripts.ipr_dropdown_js"></script>
    <script src="@Scripts.common_js"></script>
    <script src="@Scripts.additional_js"></script>

    @RenderSection("scripts", false)
</body>
</html>
