﻿@model IList<NoName.Web.Models.CatalogMenuModel>

<a href="@Url.Action(MVC.Home.Index())">Главная</a>
|
@for (var i = 0; i < Model.Count - 1; i++)
{
    var item = Model[i];
    <a href="@Url.Action(item.Action)">@item.Name</a>
        @: |
    }
@if (Model.Count != 0)
{
    <span>@Model[Model.Count - 1].Name</span>
}
<script type="application/ld+json">
{
    "@@context": "http://schema.org",
    "@@type": "BreadcrumbList",
    "itemListElement": 
    [{
        "@@type": "ListItem",
        "position": 1,
        "item": {
        "@@id": "@Url.Action(MVC.Home.Index())",
        "name": "Главная"
        }
    }
    @for (var i = 0; i < Model.Count - 1; i++)
    {
        var item = Model[i];
        <text>
    ,{
        "@@type": "ListItem",
        "position": @(i + 2),
        "item": {
        "@@id": "@Url.Action(item.Action)",
        "name": "@item.Name.Replace("\n", "").Replace("\r", "")"
        }
    }
        </text>
    }
    ]
}
</script>

