﻿@using Links
@using NoName.Domain
@using NoName.Web.Builders
@{
    var pageClass = (string)ViewBag.PageClass;
    var homePage = (bool?)ViewBag.HomePage ?? false;
    var description = (string)ViewBag.PageDescription;
    var keywords = (string)ViewBag.Keywords;
    var canonical = (string)ViewBag.Canonical;
    var robots = (string)ViewBag.Robots;
    var prev = (string)ViewBag.PrevLink;
    var next = (string)ViewBag.NextLink;
    var mobile = Request.Browser.IsMobileDevice;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @if (!string.IsNullOrWhiteSpace(description))
    {
        <meta name="description" content="@description" />
    }
    @if (!string.IsNullOrWhiteSpace(keywords))
    {
        <meta name="keywords" content="@keywords" />
    }
    @if (!string.IsNullOrWhiteSpace(robots))
    {
        <meta name="robots" content="@robots" />
    }
    @if (!string.IsNullOrWhiteSpace(canonical))
    {
        <link rel="canonical" href="@canonical" />
    }
    @if (!string.IsNullOrWhiteSpace(prev))
    {
        <link rel="prev" href="@prev" />
    }
    @if (!string.IsNullOrWhiteSpace(next))
    {
        <link rel="next" href="@next" />
    }
    <link rel="stylesheet" href="@Content.css.style_css.ToCdn()" />
    <link rel="stylesheet" href="@Content.css.additional_css.ToCdn()" />
    <script src="@Scripts.modernizr_2_8_3_js.ToCdn()"></script>
</head>
<body class="@pageClass">
    <div class="overlay"></div>
    @RenderSection("scriptPixelBefore", false)
    @RenderSection("tagLayout", false)
    @Html.Partial(MVC.Shared.Views.GoogleTagManager)
    @Html.Action(MVC.Layout.Header(homePage))
    @Html.Action(MVC.Layout.HeaderCat())
    @if (!mobile)
    {
        @Html.Action(MVC.Layout.CatNav(homePage))
    }
    @RenderSection("addHeaderContent", false)
    <div class="content">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    @RenderSection("subContent", false)
    @Html.Action(MVC.Layout.FooterNav())
    @Html.Partial(MVC.Layout.Views.Footer)


    @Html.Partial(MVC.Basket.Views.AddToBasketPopup, new Basket())
    @RenderSection("addFooterContent", false)


    <script src="@Scripts.jquery_2_1_1_min_js.ToCdn()"></script>
    <script src="@Scripts.jquery_ui_1_10_4_custom_min_js.ToCdn()"></script>
    <script src="@Scripts.jquery_validate_js.ToCdn()"></script>
    <script src="@Scripts.jquery_validate_unobtrusive_js.ToCdn()"></script>
    <script src="@Scripts.maskedit_js.ToCdn()"></script>
    <script src="@Scripts.jquery_columnizer_js.ToCdn()"></script>
    <script src="@Scripts.jquery_bxslider_min_js.ToCdn()"></script>
    <script src="@Scripts.jquery_nouislider_all_min_js.ToCdn()"></script>
    <script src="@Scripts.jquery_fancybox_js.ToCdn()"></script>
    <script src="@Scripts.ipr_dropdown_2_js.ToCdn()"></script>
    <script src="@Scripts.common_js.ToCdn()"></script>
    <script src="@Scripts.additional_js.ToCdn()"></script>
    <script src="@Scripts.readmore_js.ToCdn()"></script>

    @RenderSection("scripts", false)
</body>
</html>
