﻿@model IList<NoName.Web.Models.CatalogMenuModel>
<nav class="backToShop">
    <a href="@Url.Action(MVC.Home.Index())" class="backToShop-link">Вернуться в магазин</a>
    <div class="catList catList-white">
        <nav>
            @foreach (var item in Model)
            {
                <a href="@Url.Action(item.Action)" class="catList-item @item.Css2">@item.Name</a>
            }
        </nav>
    </div>
</nav>
