﻿@model NoName.Web.Models.HeaderModel
<header class="header" id="top">
    <div class="container">
        <div class="header-logo">
            <a href="/">
                <img src="/Content/images/logo_unixmart.png" alt="магазин бытовой техники" />
                <span>магазин бытовой техники</span>
            </a>
        </div>
        <div class="header-contacts">
            <div class="header-contacts-phone">
                <span class="header-contacts-phone-value">@Model.ShopPhone</span>
                @if (!string.IsNullOrWhiteSpace(Model.AlertMessage))
                {
                    <span class="alert">@Model.AlertMessage</span>
                }
                else
                {
                    @Html.Partial(MVC.Request.Views.FormHeader)
                }
            </div>
            @*<div class="header-contacts-select">
                    <a href="#" class="header-contacts-select-selected" data-action="dropdown" aria-label="Выбрать город" id="town_dropdown">Москва</a>
                    <div class="popup-container header-contacts-select-popup" aria-labelledby="town_dropdown">
                        <span class="popup-container-close" data-action='close'></span>
                        <ul class="menu">
                            <li>
                                <a href="#">Москва</a>
                            </li>
                            <li>
                                <a href="#">Санкт-Петербург</a>
                            </li>
                            <li>
                                <a href="#">Тверь</a>
                            </li>
                        </ul>
                    </div>
                </div>*@
        </div>
        <div class="header-service">
            <div class="header-service-link" data-action="dropdown" aria-label="Открыть меню" id="service_dropdown">
                @foreach (var item in Model.Menu)
                {
                    <span>@item.Text</span>
                }
            </div>
            <div class="header-service-list" aria-labelledby="service_dropdown">
                @foreach (var item in Model.Menu)
                {
                    <a href="@item.MenuUrl">
                        <span class="@item.Attr"></span>
                        @item.Text
                    </a>
                }
            </div>
        </div>
        @Html.Action(MVC.Layout.Referal())
    </div>
</header>
