﻿@model IList<NoName.Web.Models.CatalogMenuModel>
<div class="nav">
    <div class="container">
        <div class="nav-catalog popup">
            <a href="#" class="nav-catalog-open popup-link">
                <i class="icon icon-bars-white"></i>
                Каталог
            </a>
            <div class="nav-catalog-dropdown popup-container">
                <span class="popup-container-close"></span>
                <div class="popup-container-body">
                    <ul class="nav-catalog-dropdown-list">
                        @foreach (var item in Model)
                        {
                            <li class="nav-catalog-dropdown-item @item.Css1 hasSubitems">
                                <a href="@Url.Action(item.Action)">@item.Name</a>
                                <ul>
                                    @foreach (var child in item.ChildMenu)
                                    {
                                        <li><a href="@Url.Action(child.Action)">@child.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-search">
            @using (Html.BeginForm(MVC.Search.Index(), FormMethod.Post))
            {
                <input type="text" name="search_query" value="" placeholder="Поиск" />
                <button type="submit">Искать</button>
            }
        </div>
        <div class="nav-personal">
            <div class="nav-personal-cart" id="basketAmount">
                @Html.Action(MVC.Basket.BasketAmount())
            </div>
        </div>
    </div>
</div>
