﻿<section class="footerNav-links-social social">
    <h3>Присоеди&shy;няйтесь к нам</h3>
    <a href="https://www.facebook.com/unixmart.ru" target="_blank" class="social-item" title="Facebook">
        <i class="fontello fontello-facebook"></i>
    </a>
    <a href="https://vk.com/unixmart" target="_blank" class="social-item" title="Вконтакте">
        <i class="fontello fontello-vkontakte"></i>
    </a>
</section> 