﻿@using Recaptcha.Web.Mvc
@model NoName.Domain.FormRefuse

@{
    ViewBag.Title = Model.Article.Title ?? string.Format("Статья {0} :: www.unixmart.ru", Model.Article.Title);
    ViewBag.Keywords = Model.Article.Keywords;
    ViewBag.PageDescription = Model.Article.PageDescription;
    ViewBag.PageClass = "home";
}

<div class="breadcrumbs">
    @Html.ActionLink("Главная", MVC.Home.Index())
    |
    <span>@Model.Article.Header</span>
</div>
<h1>@Model.Article.Header</h1>
<div class="content-cols search-content">
    <div class="content-cols-main pull-right col-md-9">
        <div class="articles">
            @if (string.IsNullOrEmpty(Model.WelcomeString))
            {
                @Model.Article.Body
                <section class="section-form">
                    <h2>Заявление на возврат</h2>
                    <br />
                    @using (Html.BeginForm(MVC.Forms.Refuse(), FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="FIO" class="form-label">
                                    ФИО
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.FIO, new { @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.FIO)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="Phone" class="form-label">
                                    Телефон
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.Phone, new { @type = "phone", @class = "form-control mask-phone", required = String.Empty, pattern = "[0-9]\\([0-9]{3}\\)[0-9]{7}", inputmode = "numeric" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="EMail" class="form-label">
                                    E-mail
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.EMail, new { @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.EMail)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="Address" class="form-label">
                                    Адрес
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.Address)
                            </div>
                        </div>
                        <h3>Заявление-претензия</h3>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="DateOccur" class="form-label">
                                    Я приобрёл(а)
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.DateOccur, new { @type = "date", @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.DateOccur)
                                <span class="form-caption">Дата оформления заказа</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="GoodsName" class="form-label">
                                    Наименование товара
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.GoodsName, new { @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.GoodsName)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="BillNumber" class="form-label">
                                    Товарный чек №
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-5">
                                @Html.TextBoxFor(m => m.BillNumber, new { @class = "form-control", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.BillNumber)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="Description" class="form-label">
                                    Описание претензии
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = "10", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <label for="Requirement" class="form-label">
                                    Требование
                                    <span class="required"></span>
                                </label>
                            </div>
                            <div class="col-md-7">
                                @Html.TextAreaFor(m => m.Requirement, new { @class = "form-control", rows = "3", required = String.Empty })
                                @Html.ValidationMessageFor(m => m.Requirement)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label for="field_09" class="form-label">
                                    Добавить файлы (суммарный объём не более 20Мб)
                                    <div class="form-label-caption">
                                        При наличии:
                                        <ul>
                                            <li>договоры купли-продажи</li>
                                            <li>гарантийный талон</li>
                                            <li>заключение сертифицированного сервисного центра</li>
                                            <li>фотография причина возврата</li>
                                        </ul>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-12">
                                <input type="file" class="" id="Attachments" multiple name="Attachments" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-2">
                                @Html.RecaptchaWidget()
                                @Html.ValidationMessageFor(m => m.ReCaptcha)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-md-offset-2">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </div>
                    }
                </section>
            }
            else
            {
                <h2>@Model.WelcomeTitle</h2>
                <p>@Model.WelcomeString</p>
            }

        </div>
    </div>
    <div class="content-cols-aside pull-left col-md-3">
        <nav class="catListSub">
            <ul>
                @foreach (var item in Model.Menu)
                {
                    <li class="@(item.ObjectId == Model.SelectedId ? "catListSub-selected" : null)">
                        <a href="@(item.ObjectId == Model.SelectedId ? "#" : item.MenuUrl)"><span>@item.Name</span></a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- .content-cols -->
