﻿@model IList<NoName.Web.Models.CatalogMenuModel>

<a href="@Url.Action(MVC.Home.Index())">Главная</a>
|
    @for (var i = 0; i < Model.Count - 1; i++)
    {
        var item = Model[i];
        @Html.ActionLink(@item.Name, MVC.Manufacturer.List(item.SelectedBrand.ShortLink, item.StringRepresentation))
        @: |
    }
<span>@Model[Model.Count - 1].Name</span>
