﻿@using NoName.Domain
@model NoName.Web.Models.CatalogMenuModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.Keywords = Model.Keywords;
    ViewBag.PageDescription = Model.PageDescription;
    ViewBag.PageClass = "home category-01";
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Manufacturer.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

@if (Model.ChildMenu.Count == 0)
{
    @Html.Partial(MVC.Shared.Views.SimilarGoods, Model.SimilarGoods)
}
else
{
    <h1>@Model.H1</h1>

    <div class="content-cols">
        <div class="content-cols-main pull-right col-md-9">
            <div class="catalogContent">
                @foreach (var item in Model.ChildMenu)
                {
                    <article class="catalogContent-item">
                        <a href="@Url.Action(item.Action)">
                            <figure class="catalogContent-item-image">
                                <img src="@item.Image.Src" alt="@item.H1" />
                            </figure>
                            <span class="catalogContent-item-num">@item.GoodsCount</span>
                            <h3>
                                @item.H1
                            </h3>
                        </a>
                    </article>
                }

            </div>
            @if (Model.SeoArticle != null)
            {
                <section class="content-section">
                    <h2>@Model.SeoArticle.Header</h2>
                    <div>
                        @Model.SeoArticle.Body
                    </div>
                </section>
            }
        </div>
        <div class="content-cols-aside pull-left col-md-3">
            <nav class="catListSub">
                <ul>
                    @foreach (var item in Model.ChildMenu)
                {
                        <li>
                            <a href="@Url.Action(item.Action)"><span>@item.H1</span> | @item.GoodsCount</a>
                            @if (item.ChildMenu.Count > 0)
                            {
                                <ul>
                                    @foreach (var child in item.ChildMenu)
                                    {
                                        <li><a href="@Url.Action(child.Action)"><span>@child.H1</span> | @child.GoodsCount</a></li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </nav>
            @Html.Action(MVC.Layout.LeftPromoBlock())
        </div>
    </div>
}

<!-- .content-cols -->



@section addFooterContent
{
}