﻿@using Ecommerce.Domain
@using Ecommerce.Extensions
@model NoName.Web.Models.SearchPageModel
<div class="content-cols-main pull-right col-md-9">
    @Html.Partial(MVC.Search.Views.GoodsPaging, Model.PagingModel)
    <div class="index flex">
        @foreach (var item in Model.PagingModel.Items)
        {
            <article class="index-item">
                <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">
                    <figure class="index-item-image">
                        <img src="@item.Image.Src" alt="@item.FullName фото" title="Заказать @item.FullName" />
                    </figure>
                    <h3>
                        @item.FullName <span>#@item.PseudoID</span>
                    </h3>
                </a>
                <div class="index-item-descr">
                    <table class="index-item-descr-chars">
                        @for (int i = 0; i < 6; i++)
                        {
                            if (i < item.GoodsParams.Count)
                            {
                                ParamItem param = item.GoodsParams[i];
                                <tr>
                                    <td class="c-gray s12">@param.ParamName:</td>
                                    <td>@param.ValueAUnit</td>

                                </tr>

                            }
                            else
                            {
                                <tr><td>&nbsp;</td><td></td></tr>
                            }
                        }
                    </table>
                    <div class="index-item-descr-action">
                        <div class="index-item-descr-price">@item.PriceString</div>
                        <div class="index-item-descr-buy popup">
                            <a href="#" class="btn btn-apply popup-link" data-dropdown2="cartPopup" data-id="@item.ObjectID">Купить</a>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
    @Html.Partial(MVC.Search.Views.GoodsPaging, Model.PagingModel)
</div>
