﻿@using NoName.Domain
@model NoName.Web.Models.SearchPageModel
@{
    ViewBag.Title = "Поиск :: www.unixmart.ru";
    ViewBag.PageClass = "home category-01";
    ViewBag.Robots = Model.PagingModel.Page > 1 ? "noindex, follow" : "index, follow";
    ViewBag.NextLink = Model.PagingModel.HasNext ? Request.Url.AbsoluteUri + "?page=" + (Model.PagingModel.Page + 1) : null;
    ViewBag.PrevLink = Model.PagingModel.HasPrev ? (Model.PagingModel.Page != 2 ? Request.Url.AbsoluteUri + "?page=" + (Model.PagingModel.Page - 1) : Request.Url.AbsoluteUri) : null;

}

<div class="breadcrumbs">
    <a href="@Url.Action(MVC.Home.Index())">Главная</a>
    |
    <span>Поиск</span>
</div>

<h1>Результаты поиска &laquo;@Model.PagingModel.SearchQuery&raquo; @Model.PagingModel.Total</h1>

<div id="GoodsList" class="content-cols">
    @Html.Partial(MVC.Search.Views.GoodsList, Model)
</div>
<!-- .content-cols -->


@section addFooterContent
{
}