﻿@using NoName.Domain
@model Basket
@{
    var model = Model ?? new Basket();
}
<div class="popup-container goods-buy-container center" data-action="ajax-dropdown" id="cartPopup">
</div>
<div class="popup-container goods-buy-container center" data-action="ajax-sale-dropdown" id="cartSale">
</div>
