﻿@using Ecommerce.Extensions
@using NoName.Domain
@model Basket

<div class="goods-buy-container-title">Товар добавлен в корзину</div>
<div class="goods-buy-container-form">
    @if (Model.LastAddedItem.HasValue)
    {
        var item = Model.Items[Model.LastAddedItem.Value];
        <div class="goods">
            <figure class="goods-image">
                <a href="#">
                    <img src="@item.Image.Src" alt="@item.FullName"/>
                </a>
            </figure>
            <div class="goods-text">
                <h3>@item.FullName</h3>
                Код: @item.PseudoID
            </div>
            <div class="goods-info">
                <div class="goods-info-quantity">
                    <div class="btn-group" role="group">
                        <input type="hidden" name="ordValue" id="LastAddedItem_OrdValue" value="@item.OrdValue" />
                        <input type="hidden" name="isSale" id="LastAddedItem_IsSale" value="@(item.IsSale ? 1 : 0)" />
                        <button type="button" class="btn btn-default" id="Basket_Minus">&ndash;</button>
                        <input type="text" name="amount" id="LastAddedItem_Amount" class="btn btn-default" readonly value="@item.Amount"/>
                        <button type="button" class="btn btn-default" id="Basket_Plus">+</button>
                    </div>
                </div>
                <div class="goods-info-price">@item.PriceString</div>
            </div>
        </div>
    }
    <div class="goods-buy-container-form-cart">
        В корзине <span>@Model.TotalGoodsCount</span> @("товар".Decline(@Model.TotalGoodsCount, true)) на сумму
        <span class="goods-buy-container-form-cart-total">@Model.TotalPrice.ToString("# ##0") руб.</span>
    </div>
    <div class="goods-buy-container-form-action">
        <a href="@(Model.TotalGoodsCount > 0 ? Url.Action(MVC.Basket.Index()) : "#")" class="btn btn-apply">
            Оформить заказ
        </a>
        <a href="#" class="btn btn-secondary" data-action="close">
            Продолжить покупки
        </a>
    </div>
</div>
