﻿@model NoName.Domain.Basket
@{
    var url = Model.TotalGoodsCount > 0 ? Url.Action(MVC.Basket.Index()) : "#";
}
<a href="@url">Корзина</a>
<span class="nav-personal-cart-num">@Model.TotalGoodsCount</span>
<a href="@url" class="btn btn-apply">Оформить заказ</a>
