﻿@model NoName.Web.Models.BuyOneClickModel
<div class="popup-container center" data-action="dropdown2" id="oneClickBuy">
    <span class="popup-container-close" data-action="close"></span>
    <div class="popup-container-body">
        @using (Html.BeginForm(MVC.Basket.BuyOneClick(), FormMethod.Post, new { @class = "form formPupup", id = "BuyOneClick" }))
        {
            @Html.HiddenFor(m => m.GoodsOID)
            <div class="h3">Купить в один клик</div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Ваше имя" })
                </label>
            </div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "mask-phone", @type = "phone", placeholder = "Ваш телефон", pattern = "[0-9]\\([0-9]{3}\\)[0-9]{7}", inputmode = "numeric" })
                </label>
            </div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextAreaFor(m => m.Comments, new { placeholder = "Ваш комментарий" })
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-apply" type="submit">Купить</button>
            </div>
        }
    </div>
</div>
