﻿@model NoName.Web.Models.BasketViewModel
@{
    int currDeliveryType = Model.DeliveryType ?? Model.Deliveries.FirstOrDefault().DeliveryType;
}

<div class="cart-options cart-delivery">
    <div class="h3">Доставка:</div>
    @foreach (var d in Model.Deliveries)
    {
        if (!d.IsCalc)
        {
            <div class="cart-options-item">
                <label>
                    @if (currDeliveryType == d.DeliveryType)
                    {
                        @Html.RadioButtonFor(m => m.DeliveryType, d.DeliveryType, new { @checked = "checked" })
                    }
                    else
                    {
                        @Html.RadioButtonFor(m => m.DeliveryType, d.DeliveryType)
                    }
                    <span class="cart-options-item-title">
                        @d.Name
                        <span>@d.Description</span>
                    </span>
                </label>
                <div class="cart-options-item-deliveryCost">
                    <span class="@(currDeliveryType == d.DeliveryType ? "selected" : null)">@d.PriceString</span>
                </div>
            </div>
        }
        else
        {
            <div class="cart-options-item">
                <label>
                    @Html.RadioButtonFor(m => m.DeliveryType, d.DeliveryType)
                    <span class="cart-options-item-title">
                        @d.Name
                        <span>@d.Description</span>
                    </span>
                </label>
                <div class="cart-options-item-deliveryCost">
                    <div class="cart-options-item-deliveryCost-form">
                        @d.Price.ToString("#,##0") руб. + @Html.TextBoxFor(m => m.CalcDistance, new { @class = "form-control", @type = "number" }) км x 25 руб. =
                        <span class="@(currDeliveryType == d.DeliveryType ? "selected del-price" : "del-price")">@((d.Price + Model.CalcDistance * 25).ToString("#,##0")) руб.</span>
                        <span class="cart-options-item-deliveryCost-form-caption">
                            Количество километров от МКАД - 5 км.<br />Первые 5 км не считаем.
                        </span>
                    </div>
                </div>
            </div>
        }
    }
    <div class="cart-options-item">
        <label for="PromoCode" class="label-promocode">Введите промокод:</label> @Html.TextBoxFor(m => m.PromoCode, new { @class = "promocode" }) @Model.PromoCodeText
    </div>
</div>