﻿<div class="cart-payInfo">
    <p>Этот товар можно оплатить<br /><span>наличными</span> или <span>банковской картой</span> на сайте!</p>
    <img src="/Content/images/online-payment.png" alt="" />
</div>

