﻿@model NoName.Web.Models.ReportAvailableModel
<div class="popup-container center" data-action="available-dropdown" id="reportPopup">
    <span class="popup-container-close" data-action="close"></span>
    <div class="popup-container-body">
        @using (Html.BeginForm(MVC.Basket.ReportAvailable(), FormMethod.Post, new { @class = "form formPupup", id="reportAvailableForm" }))
        {
            @Html.HiddenFor(m => m.GoodsID)
            <div class="h3">Сообщить о поступлении</div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "mask-phone", placeholder = "Ваш телефон" })
                </label>
            </div>
            @: Или
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Адрес электронной почты" })
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-apply" type="submit">Сообщить</button>
            </div>
        }
    </div>
</div>
