.abc {
  padding: 10px 0;
  
  ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    color: @gray-dark;
    
    li {
      margin-bottom: 35px;
      padding-right: @padding-base;
      
      span {
        .f-hv-b;
        .font-size(28);
        display: block;
      }
      a {
        .f-hv-l;
        color: @gray-dark;
      }
    }
    
  }
}