﻿.home h1 {
    font-family: "helveticaneuecyrlight";
    font-size: 2rem;
    font-weight: normal;
    margin: 20px 0 8px;    
}

.index-item-image img {
    display: block;
    margin: auto;
}

article.goods a {
    color: #253139;
}


article.index-item {
    height: 600px;
}

.index-item > a h3 {
    min-height: 70px;
}

a.buy-link, a.buy-link:link, a.buy-link:visited, a.buy-link:active {
    color: #27e3bf;
}

.catalogContent-item-image img {
    width: 285px;
}

.catalogContent-item h3 {
    margin: 10px 0 0;
}

.catalogContent-item {
    position: relative;
}

.catalogContent-item-num {
    position: absolute;
    top: 158px;
    right: 6px;
}

.showOptions {
    padding: 0 0 10px;
}

.index {
    margin: 0 -10px 10px;
}

.cart-goods-item img {
    max-width: 115px;
}

h2.price {
    font-size: 0.857143rem;
    margin: 4px 0 4px;
}

h4, .h4 {
    font-family: "helveticaneuecyrlight";
    font-size: 2rem;
    font-weight: normal;
    margin: 20px 0 8px;
}

.goods .h3 {
    font-size: 1rem;
    font-weight: normal;
    min-height: 68px;
}

.card-chars h3 {
    font-family: "helveticaneuecyrroman";
    font-size: 14px;
    display: inline;
    color: #253139;
    background: #ffffff none repeat scroll 0 0;
    padding: 2px;
}

.card-chars table tr td {
    width: 50%;
    padding: 9px 0 0;
}

.card-buy {
    margin: 30px 0 25px;
}

.mainpage h1 {
    padding: 10px 0;
    font-size: 12px;
}

.card-article span {
    font-family: "helveticaneuecyrmedium";
    color: black;
    font-size: 1rem;
}

.index-item-descr-chars tr td:last-child {
    font-family: "helveticaneuecyrmedium";
    font-size: 0.9rem;
}

.error h1 {
    padding: 10px 0;
    font-size: 14px;
    color: red;
}

.catList .banners {
    max-height: 400px;
}

.catList .banners-slider {
    height: 370px;
}