.articles {
  padding-bottom: 50px;
  
  &-item {
    clear: both;
    padding: @padding-base 0;
    
    &-date {
      .font-size(16);
      .f-hv-l;
    }
    &-category {
      .font-size(12);
      letter-spacing: 0.7px;
    }
    h3 {
      .f-hv-l;
      margin: 2px 0 7px;
      a {
        color: @gray-dark;
      }
    }
    &-tags {
      > span {
        float: left;
      }
      &-container {
        overflow: hidden;
        padding-left: 10px;
        padding-top: 1px;
      }
    }
  }
}

.article {
  position: relative;
  
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    .col-xs-3;
    background: @gray-light;
    border: 1px #d8d7d4 solid;
  }
  
  .content-cols-main {
    padding-right: @padding-base;
  }
  .content-cols-aside {
    position: relative;
    z-index: 1;
    padding-right: 0;
  }

  figure {
    margin: @padding-base 0;
    text-align: center;
  }
  
  &-date {
    .font-size(16);
    .f-hv-l;
    padding-top: 5px;
  }
  &-category {
    .font-size(12);
    letter-spacing: 0.7px;
  }
  &-tags {
    padding-top: 20px;
    > span {
      float: left;
    }
    &-container {
      overflow: hidden;
      padding-left: 10px;
      padding-top: 1px;
    }
  }
  
  &-related {
    
    &-item {
      padding: 13px;
      border-bottom: 1px #d8d7d4 solid;
      
      &-image { 
        padding-bottom: 13px;
        img {
          width: 100%;
        }
      }
      
      .h4 {
        .font-size(16);
        margin: 0;
      }
      p {
        .font-size(12);
        margin: 0;
      }
      
    }
    
  }
  &+&-tags {
    margin: 30px 0 50px;
  }
}