.card {
  padding: @padding-base*2 0;
  .clearfix();
  
  > .row {
    margin: 0 -@padding-base/2;
    
    > [class^="col"] {
      float: right;
      padding: 0 @padding-base/2;
    }
  }

  h1 {
    margin: 0;
  }

  &-payInfo {
    float: right;
    .clearfix();
    .font-size(11);
    color: #858585;
    margin: 0 0 10px;
    
    p {
      .clearfix();
      display: block;
      margin: 0 20px 0 0;
      vertical-align: top;
      span {
        color: #000;
      }
    }
    img {
      margin: 0 0 15px;
    }
  }

  
  &-article {
    color: #6a747b;
    .font-size(12);
  }
  
  &-price {
    float: left;
    clear: right;
    
    &-exists {
      color: @pink;
      .font-size(12);
      display: block;
    }
    &-digits {
      .font-size(34);
    }
  }
  
  &-buy {
    float: right;
    margin-top: 10px;
    margin-bottom: 42px;
    
    &-link {
      display: inline-block;
    }
    
    .btn {
      .font-size(22);
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      vertical-align: top;
    }
    
  }
  
  &-icon {
    margin: @padding-base 0;
    > span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: @spline;
      background-repeat: no-repeat;
      margin-right: @padding-base;
    }
    &-bars {
      background-position: 0 -530px;
    }
    &-forward {
      background-position: -3px -564px;
    }
  }
  
  &-phone {
    clear: both;
    background: @green;
    text-align: center;
    position: relative;
    
    > span {
      display: inline-block;
      color: @white;
      .font-size(28);
      .f-hv-b;
      letter-spacing: 0.1em;
      height: 45px;
      line-height: 45px;
    }
    
    &-order {
      color: @gray-dark !important;
      text-decoration: underline !important;
      float: right;
      width: 190px;
      height: 33px;
      line-height: 33px;
      border-left: 1px @white solid;
      .font-size(14);
      margin: 6px 0;
      
      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 24px;
        background: @spline no-repeat 0 -593px;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    &-container {
      right: 0;
      top: 45px;
      left: 0;
      padding: @padding-base;
      text-align: left;
      
      &-head {
        float: left;
        border-right: 1px #515a61 dashed;
        padding: 15px 40px 1px 0;
        width: 44%;
      }
      form {
        padding: @padding-base 0 @padding-base 44px;
        overflow: hidden;
        
        input[type=text],
        .btn {
          height: 36px;
        }
        input[type=text] {
          width: 125px;
          margin-right: ((@padding-base)-3);
          color: @gray-dark;
          padding-left: 5px;
        }
      }
      &-footer {
        clear: both;
        margin: 0 0 0 44%;
        padding: 0 20px 0 44px;
      }
    }
  }
  
  &-tabs {
    margin: 40px 0;
    
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .clearfix();
      border-left: 1px #ccc solid;
      
      
      > li {
        float: left;
        border-top: 1px #ccc solid;
        border-right: 1px #ccc solid;
        width: 70px;
        text-align: center;
        height: 38px;
        line-height: 38px;
        
        img {
          line-height: 38px;
          vertical-align: middle;
        }
        
        &.ui-tabs-active {
          background: @gray-light;
          border-width: 0;
          margin: 0 -1px;
        }
        
      }
    }
    &-container {
      display: none;
      background: @gray-light;
      padding: @padding-base/2 @padding-base;
      
      p {
        margin: 2px 0;
      }
      
    }
  }
  
  &-chars {
    margin-bottom: 50px;
    
    table {
      .font-size(12);
      width: 100%;
      
      tr {
        td {
          width: 50%;
          padding: 20px 0 0;
          
          &:first-child {
            background: url("../images/dots.png") repeat-x left bottom;
            
            > span {
              background: @white;
              padding: 2px;
            }
            
          }
          
        }
      }
    }
  }
  
  
  &-gallery {
    position: relative;
    
    &-large {
      border: 1px #ccc solid;
      height: 540px;
      line-height: 540px;
      text-align: center;
      
      > a {
        display: none;
        
        &:after {
          content: "";
          position: absolute;
          right: 8px;
          top: 8px;
          width: 41px;
          height: 41px;
          background: @spline no-repeat 0 -336px;
        }
      
      }
      &-selected {
        display: block !important;
      }    
    }
    &-next,
    &-prev {
      position: absolute;
      top: 250px;
      width: 29px;
      height: 56px;
      background-image: @spline;
      background-repeat: no-repeat;
      cursor: pointer;
      text-indent: -9999px;
    }
    &-prev {
      left: 20px;
      background-position: 0 -455px;
    }
    &-next {
      right: 20px;
      background-position: -41px -455px;
    }
    &-prev.active {
      left: 20px;
      background-position: 0 -398px;
    }
    &-next.active {
      right: 20px;
      background-position: -41px -398px;
    }
    
    &-thmbs {
      padding: @padding-base 0 0;
      letter-spacing: @padding-base;

      > a {
        display: inline-block;
        width: 80px;
        height: 100px;
        border: 1px #ccc solid;
        overflow: hidden;
        position: relative;
        margin-bottom: @padding-base;
        
        &.active:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/gallery-active.png") no-repeat 0 0;
          background-size: cover;
        }
        
        img {
          width: 100%;
          height: auto;
          
        }
      }
    }
  }
  
  &-text {
    .font-size(12);
  }
  
}