.order {
  &-thanks {
    background: url("../images/order-thanks.png") no-repeat left top;
    height: 97px;
    line-height: 97px;
    .font-size(30);
    padding-left: 27px;
    margin: 20px 0;
    
    p {
    letter-spacing: 0.7px;
    }
  }
  
  
  &-details {
    max-width: 780px;
    border: 1px #ccc solid;
    padding: @padding-base;
    margin: 30px 0 0;
    
    p {
    letter-spacing: 0.7px;
    }
    
    h3 {
      margin: 0;
      clear: both;
    }
    ul {
      list-style-type: none;
      margin: 0 0 30px 15px;
      padding: 0;
      
      li {
        background: url("../images/dots.png") repeat-x left bottom;
        margin: 10px 0;
        .clearfix();
        
        > span {
          line-height: 18px;
        }
      }
      
    }
    
    &-goods {
      &-param {
        float: left;
        background: @white;
        padding: 0 3px 0 0;
        clear: both;
      }
      &-value {
        float: right;
        background: @white;
        .font-size(18);
        .f-hv-med;
        padding: 0 0 0 3px;
        width: 130px;
      }
      &-quantity {
        color: @blue;
        float: right;
        background: @white;
        margin-right: 30px;
        padding: 0 0 0 3px;
        text-align: center;
      }
    }
    
    &-price {
      .font-size(30);
      height: 53px;
      line-height: 53px;
      color: @white;
      .f-hv-l;
      margin: 0 -@padding-base;
      background: #33cccc url("../images/dots-white.png") repeat-x left 36px;
      
      &-param {
        float: left;
        background: #33cccc;
        padding: 0 5px 0 @padding-base;
      }
      &-value {
        float: right;
        background: #33cccc;
        padding: 0 @padding-base 0 5px;
      }
      
    }
    
    &-personal {
      margin: 0 -@padding-base -@padding-base;
      padding: 30px @padding-base 1px;
      background: @gray-light;
      
      h3 + p {
         margin-left: 15px;
         margin-bottom: 30px;
      }
    }
  }
}


.backToShop {
  background: #8489c9;
  color: @white;
  max-width: 780px;
  border-bottom: 50px @white solid;
  
  a {
    color: @white !important;
  } 
  
  &-link {
    float: right;
    margin: @padding-base @padding-base @padding-base 0;
    text-decoration: underline !important;
  }
  
}