.cart2 {
  .clearfix();  
  max-width: 680px;
  padding: 20px 0 60px;
  
  &-group {
    margin: 30px -50px 0 0;
  
    &.cart2-group-blue {
      padding-left: 20px;
      padding-bottom: 20px;
      margin-left: -20px;
      background: url("../images/step2-group-01.png") no-repeat left bottom;
      
      .cart2-group-container {
         height: 182px;
      }
      
    }
    &.cart2-group-orange {
      padding-left: 20px;
      margin-left: -20px;
      padding-bottom: 11px;
      background: url("../images/step2-group-02.png") no-repeat left bottom;
      .cart2-group-container {
         height: 168px;
      }
    }
    &.cart2-group-yellow {
      background: url("../images/step2-group-03.png") no-repeat 62px bottom;
      padding-bottom: 19px;
      .cart2-group-container {
         height: 208px;
      }
    }
  
    &-container {
      background:  @gray-light;
      .clearfix();
      padding: 24px 22px;
      max-width: 680px;
      margin-top: 15px;
      
      label {
        float: left;
        padding: 7px 0 7px 200px;
        
        > span {
          width: 200px;
          margin-left: -200px;
          padding-right: 15px;
          float: left;
          letter-spacing: 1px;
          line-height: 28px;
        }
        
        input[type=text],
        input[type=password],
        textarea {
          width: 100%;
          border-width: 0;
          padding: 0 8px;
          .font-size(12);
          .f-hv;
          letter-spacing: 0.1em;
        }
        input[type=text],
        input[type=password] {
          height: 28px;
        }
        textarea {
          height: 148px;
        }
        
        &.col-xs-6 + .col-xs-6 {
          > span {
            text-align: right;
          }
        }
        
      }
      
      p {
        clear: both;
        padding: 20px 0 0;
      }
    }
    
  }
  
  &-agree {
    padding: 28px 0;
    display: block;
    
    input[type="checkbox"] {
      float: left;
      margin: 0 25px;
      
    }
    span {
      overflow: hidden;
      display: block;
      letter-spacing: 1px;
      padding: 0 0 0 0;
    }
  }
  
  .btn {
    .f-hv-l;
    .font-size(30);
    float: right;
    margin: 30px 0 0 0;
    padding: 0 20px;
    height: 54px;
    line-height: 54px;
  }
}