.cart {

  padding: 50px 0;

  .h1 {
    a {
      .font-size(12);
      display: inline-block;
      margin-left: 30px;
    }
  }

  &-payInfo {
    float: right;
    .clearfix();
    .font-size(11);
    color: #858585;
    margin: -50px 0 30px;
    
    p {
      .clearfix();
      white-space: nowrap;
      display: inline-block;
      margin: 0 20px 0 0;
      vertical-align: top;
      span {
        color: #000;
      }
    }
    img {
      margin: 0 0 15px;
    }
  }
  
  &-goods {
    margin: 20px 0;
    border: @gray-dark solid 1px;
    
    &-item {
      border-bottom: @gray-dark solid 1px;
      .clearfix();
      position: relative;
      
      &:last-child {
        border-width: 0;
      }
      
      &-field {
        float: left;
      }
      
      &-image {
        width: 15%;
        padding: 3px;
        text-align: center;
      }
      &-title {
        width: 53%;
        padding: 37px 0 0;
        .font-size(16);
        line-height: 130%;
        
        &-article {
          .font-size(12);
          display: block;
          color: lighten(@gray,39%);
        }
      }
      &-quantity {
        width: 10%;
        padding-top: 37px;
        text-align: center;
        .clearfix;
        
        input[type=text] {
          width: 50px;
          border: 3px  #dadbdb solid;
          height: 34px;
          .font-size(30);
          .f-hv-b;
          text-align: center;
        }
        
        &-increase {
          float: right;
          .font-size(30);
          .f-hv-b;
          color: @pink;
          cursor: pointer;
          line-height: 34px;
        }
        &-decrease {
          float: left;
          .font-size(30);
          .f-hv-b;
          color: @gray;
          cursor: pointer;
          line-height: 34px;
        }
        
      }
      &-price {
        width: 22%;
        padding-top: 44px;
        padding-right: 30px;
        text-align: right;
        .font-size(24);
      }

      &-close {
        position: absolute;
        right: 8px;
        top: 12px;
        line-height: 14px;
        color: darken(@gray-light,20);
        cursor: pointer;
      }      

     
    }
    
  }
  
  &-options {
    margin: 30px 0;

    float: left;
    width: 40%;
    margin-right: 10%;
    
    /*    
    > div {
      margin-bottom: 20px;
      margin-top: 40px;
    }
    */
    
      
      
    &-item {
      .clearfix();
      clear: both;
      display: block;
      border-bottom: @gray-light 1px solid;
      &:last-child {
        border-bottom-width: 0
      }
      padding: 14px 0;
      .font-size(14);
      
      &-deliveryCost {
        float: right;
        
        > span,
        > strong{
          font-size: 18px;
        }
        
        
        &-form {
          float: none;
          clear: left;
          padding: 10px 0 0 25px;
          input[type=text] {
            width: 40px;
          }
          &-caption {
            font-size: 10px;
            text-align: center;
            display: block;
            color: #999;
            margin: 10px 0 0;
          }
          strong {
            font-size: 18px;
          }
        }
        
      }
      
      label {
        float: left;
      }
      
      &-title {
        line-height: 130%;
        overflow: hidden;
        display: block;
        
        span {
          color: lighten(@gray,39%);
          .font-size(11);
          display: block;
          overflow: hidden;
        }
      }
      
      input[type=radio] {
        float: left;
        margin: 2px 12px 12px 0;
      }
    }
  }
  
  &-guaranty {
    clear: both;
  }
  
  &-payment {
    
    float: left;
    width: 45%;
    margin-right: 3%;
    
    /*
    label {
      padding: 4px 0;
      border-width: 0;
    }
    */
  }  

  &-total {
    clear: both;
    border: @gray-light 1px solid;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    /* text-align: right; */
    .font-size(24);
    line-height: 54px;
    .f-hv-l;
    
    &-sum {
      .f-hv;
      .font-size(30);
    }
    button {
      .font-size(30);
      height: 54px;
      .f-hv-l;
      padding: 0 20px;
      margin-left: 20px;
      float: right;
    }
    
  }
  
}
