html {
  font-size: 87.5%;
}
body {
  background: @gray-light; /* url("../images/body_background.jpg"); */
  .f-hv;
  font-size: 100%;
  color: @gray-dark;
  min-width: @content-width;
}
* {
  -moz-box-sizing: content-box;
  box-sizing: border-box;
  outline: none;
}
.container {
  @media screen and (min-width: @screen-lg) {
    width: @content-width;
  }
  @media screen and (min-width: (@screen-md)) and (max-width: ((@screen-lg)-1)) {
    width: 950px;
  }
  @media screen and (max-width: ((@screen-sm)-1)) {
    width: 100%;
  }
  margin: 0 auto;
}

.content-cols {
  .clearfix();
  
  &-aside {
    padding-right: @padding-base;
  }
  
}


.columns {
  .clearfix();
  margin: 0 -@padding-base/2;
  
  .column {
    .pull-left;
    padding: 0 @padding-base/2;
  }
}
