.catalogContent {
  letter-spacing: -0.4em;
  padding: 30px 0;
  margin: 0 -@padding-base/2;
  
  &-item {
    display: inline-block;
    .col-xs-4;
    letter-spacing: 0;
    vertical-align: top;
    padding: @padding-base/2;
    margin-bottom: @padding-base/2;
    
    a {
      display: block;
      
      &:hover {
        text-decoration: none;
        
        &:hover {
          h3{
            background: darken(@gray-light,5%);
          }
        }
      }

    }
    
    &-image {
      height: 150px;
      text-align: center;
      
      img {
        max-height: 100%;
      }
    }
    
    &-num {
      float: right;
      width: 76px;
      height: 38px;
      margin-top: -38px;
      color: @white;
      padding: 16px 0 0 16px;
      .font-size(16);
      background-repeat: no-repeat;
      background-position: 50% 50%;

      .category-01 & {
        background-image: url("../images/catalogContent-01.png");
      }
      .category-02 & {
        background-image: url("../images/catalogContent-02.png");
      }
      .category-03 & {
        background-image: url("../images/catalogContent-03.png");
      }
      .category-04 & {
        background-image: url("../images/catalogContent-04.png");
      }
      .category-05 & {
        background-image: url("../images/catalogContent-05.png");
      }
      .category-06 & {
        background-image: url("../images/catalogContent-06.png");
      }
      .category-07 & {
        background-image: url("../images/catalogContent-07.png");
      }
    }
    
    h3 {
      margin: 0;
      font-weight: normal;
      background: @gray-light;
      color: @gray-dark;
      display: block;
      padding: 7px 10px;
      min-height: 52px;

    }
    
    
    
    
  }
}