@import "breadcrumbs.less";
@import "goods.less";
@import "slider-control.less";
@import "slider-banners.less";
@import "abc-catalog.less";
@import "content-catalog.less";
@import "form_popup.less";
@import "card.less";
@import "index.less";
@import "search.less";
@import "article.less";

* {
  box-sizing: border-box;
}


a,
a:link,
a:visited,
a:active {
  color: @blue;
  text-decoration: none;
}
a:hover {
  color: @blue;
  text-decoration: underline;
}


h1,
.h1 {
  font-weight: normal;
  .font-size(32);
  margin: 20px 0 8px;
}

h2,
.h2 {
  font-weight: normal;
  .font-size(28);
  .f-hv-l;
  margin: 20px 0 8px;
}

h3,
.h3 {
  font-weight: normal;
  .font-size(24);
  .f-hv-l;
  margin: 20px 0 8px;
}

figure {
  margin: 0;
  img {
    max-width: 100%;
  }
}

.content {
  background: @white;
  
  &-slider {
    /* margin: 0 -@padding-base/2; */
    .clearfix();
    letter-spacing: -0.4em;
   
    .bx-controls {
      text-align: right;
      letter-spacing: 0;
      padding-bottom: 20px;
    }
  }
  &-section {
  }
  
  
  p, ul, ol {
    line-height: 150%;
  }
  
}


.showOptions {
  .font-size(12);
  float: right;
  line-height: 22px;
  .f-hv-l;
  
  > a {
    margin-left: 25px;
  }
}

.pager {
  .font-size(14);
  float: right;
  margin-left: 40px;
  
  > a {
    color: @gray-dark;
    display: inline-block;
    .f-hv-l;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 20px; 
    vertical-align: middle;
  }
  &-current {
    background: @spline no-repeat 0 -128px;
    color: @white !important;
  }
  &-next {
    background: @spline no-repeat -54px -649px;
    text-indent: -9999px;
  }
  &-prev {
    background: @spline no-repeat 0 -649px;
    text-indent: -9999px;
  }
}