.footer {
  .clearfix();
  padding: 10px 0 50px;
  background: @gray-dark;
  .font-size(11);
  color: darken(@gray-light,10%);
  
  .copy {
    .pull-left;
    .col-xs-6
  }
  .counters {
    .pull-right;
    .col-xs-6;
    text-align: right;
  }
}