.footerNav {
  background: #d9d8d5;
  padding: @padding-base 0;
  position: relative;
  
  .container {
    .clearfix();
  }
  
  &-logo,
  &-links {
    .col-xs-2;
    .pull-left;
  }
  
  &-logo {
    a:hover {
      text-decoration: none;
    }
    span {
      .font-size(10);
      color: @gray-lighter;
      display: block;
      padding-left: 12px;
    }
  }
  
  &-links {
    color: @blue;
    
    img {
      max-width: 100%;
    }
    
    section {
      margin: 20px 0;
    }
    
    h3 {
      .font-size(18);
      text-transform: uppercase;
      .f-hv-b;
      letter-spacing: 2px;
      margin: 10px 0;
    }
    p {
      .font-size(11);
    }
    
    .social {
      margin: 20px 0 30px; 
      
      &-item {
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url("../images/icons-social.png") no-repeat 0 0;
        text-indent: -9999px;
        
        &-fb { background-position: 0 0; }
        &-tw { background-position: -26px 0; }
        &-vk { background-position: -78px 0; }
        &-ok { background-position: -52px 0; }
        &-yb { background-position: -104px 0; }
        
        
      }
    }
    
  }
  
  nav {
    .col-xs-8;
    .pull-left;
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      &.columns {
        padding-top: 20px;
      }
      .column {
        padding-right: 30px;
      }
      
      a {
        color: @gray-dark;
      }
      
      li.dontsplit {
        padding-bottom: 30px;
        
        > a {
          .f-hv-med;
        }
        > ul {
          .font-size(11);
          margin: 10px 0 0;
          
          > li {
            margin: 7px 0;
          }
        }
      } 
      
    }
    
  }
  
  &-2top {
    position: absolute;
    right: @padding-base;
    bottom: @padding-base;
    width: 41px;
    height: 43px;
    .font-size(10);
    text-align: center;
    color: @white !important;
    background: #33cccc;
    text-transform: lowercase;
    
    &:before {
      content: "";
      display: block;
      background: @spline no-repeat 0 -689px;
      margin: 8px auto;
      height: 12px;
      width: 20px;
    }
  }
}