.header {
  .clearfix();

  .container {
    .clearfix();
    position: relative;
  }
  
  
  .logo,
  .contacts,
  .service {
    .col-xs-4;
    float: left;
  }

  .logo {
    padding-top: 16px;
    .clearfix();
    
    a {
      &:hover {
        text-decoration: none;
      }
    }
  
    span {
      .font-size(14);
      color: #df005b;
      text-align: right;
      width: 120px;
      margin-left: -122px;
    }
    span,
    img {
      float: left;
    }
    img {
      margin-left: -16px;
      margin-bottom: -5px;
      position: relative;
      z-index: 1;
    }
  }
  
  
  .contacts {
    &-phone,
    &-select {
      .pull-left;
      padding-top: 30px;
    }
    &-phone {
      width: 200px;
      
      &-value {
        display: block;
        letter-spacing: 1px;
        .font-size(24);
      }
      a {
        .font-size(13);
      }
    }
    &-select {
      padding-left: 10px;
      
      &-selected {
        padding-top: 5px;
        .font-size(18);
        line-height: 22px;
        display: inline-block;
        
        &:after {
          content: "";
          .pull-right;
          background: @spline no-repeat 0 7px;
          width: 20px;
          height: 22px;
          margin-left: 6px;
        }
      }
      
    }
    
  }
    
  .service {
    padding-top: 40px;
    .font-size(12);
    margin: 0 -5px;
    text-align: right;
    
    a {
      color: @gray-dark;
      display: inline-block;
      padding: 0 5px;
    }
  }
    
  &-digits {
    position: absolute;
    right: 0;
    bottom: 3px;
    background: #000 url("../images/digits.png") no-repeat left top;
    color: #fff;
    width: 56px;
    height: 25px;
    line-height: 15px;
    font-size: 13px;
    padding: 1px 0 0 10px;
  } 
}
.home .header {
  background: @white;
}