.index {
  letter-spacing: -0.4em;
  margin: 0 -@padding-base/2 50px;
  clear: both;
  
  &-item {
    .col-xs-4;
    display: inline-block;
    letter-spacing: 0;  
    padding: @padding-base/2;
    position: relative;
    vertical-align: top;
    height: 600px;
    
    &-image {
      overflow: hidden;
      img {
        display: block;
        margin: auto;
        width: auto;
        height: 260px;
      }
    }
    
    > a {
      display: block;
      border-top: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      padding: @padding-base/2;
      
      h3 {
        .font-size(14);
        margin: 10px auto 0;
        text-align: center;
        max-width: 80%;
        letter-spacing: 1px;
      }
      
    }
    &-descr {
      border-bottom: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      background: #f3f2f1;
      padding: @padding-base/2;
      .clearfix();
      
      &-chars {
        width: 100%;
        margin-bottom: 30px;
       
        tr {
          td {
            padding: 2px 0;
            vertical-align: top;
          }
          td:first-child {
            .font-size(11);
            width: 60%;
          }
          td:last-child {
            width: 40%;
            .font-size(12);
            .f-hv-b;
            padding-left: 15px;
          }
        }
      }
      
      &-price {
        float: left;
        .col-xs-6;
        .font-size(20);
        .f-hv-med;
      }
      &-buy {
        float: right;
        .btn {
          .font-size(20);
          line-height: 32px;
          height: 32px;
          padding: 0 17px;
        }
      }
      
      
    }
    
  }
}