@dropdownH: 300px;

.catalog {
  position: relative;


  &-dropdown {
    top: ((@navHeight)-1);
    left: -@padding-base;
    padding: 34px 0 20px 0;
    width: 800px;
     
    .catalog-dropdown-list {
      width: 238px;
      .pull-left;
      list-style-type: none;
      margin: 0;
      padding: 0;
      min-height: @dropdownH;
      
      > li {
      
      
        > a {
          display: block;
          line-height: 20px;
          padding: 5px 18px;
          
          &:after {
            content: "";
            background: @spline no-repeat 0 -185px;
            width: 8px;
            height: 18px;
            float: right;
          }
        }
        
        @subBackgroundCommon: url("../images/subNavDropdown.png") no-repeat left 0 bottom 10px, @gray-light;
        > ul {
          background: @subBackgroundCommon;  
          display: none;
          border-right: @padding-base @gray-dark solid;
          border-bottom: @padding-base @gray-dark solid;
          margin-left: 18px;
          padding: 20px 10px 10px 82px;
          position: absolute;
          width: 562px;
          min-height: ((@dropdownH)+20);
          left: 220px;
          top: 34px;

          li {
            padding: 3px 0;
            a {
              color: @gray-dark !important;
              .font-size(12);
              .f-hv-l;
            }
          }
        }
        &.catalog-dropdown-item-01 ul {
          background: url("../images/subIcon-01.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-02 ul {
          background: url("../images/subIcon-02.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-03 ul {
          background: url("../images/subIcon-03.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-04 ul {
          background: url("../images/subIcon-04.png") no-repeat 10px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-05 ul {
          background: url("../images/subIcon-05.png") no-repeat 10px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-06 ul {
          background: url("../images/subIcon-06.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-07 ul {
          background: url("../images/subIcon-07.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        &.catalog-dropdown-item-08 ul {
          background: url("../images/subIcon-08.png") no-repeat 20px 27px, @subBackgroundCommon;
        }
        
        &.hovered {
          > a {
            background: @gray-light;
            position: relative;
            color: @gray-dark !important;
            text-decoration: none;
            
            &:after {
              background-position: 0 -166px;
            }
            
            &:before {
              position: absolute;
              left: 0;
              top: 0;
              content: "";
              border-left: @gray-dark 15px solid;
              border-top: rgba(0,0,0,0) 15px solid;
              border-bottom: rgba(0,0,0,0) 15px solid;
            }
            
          }
          > ul {
            display: block;
          }
        }
      }
      
    }
    
  }
  
}