@navHeight: 47px;

@import "nav-aside.less";
@import "nav-dropdown.less";
@import "nav-catlist.less";

.nav {
  
  position: relative;
  top: -2px;
  background: @gray-dark;
  color: @white-darker;
  height: @navHeight;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
  .container {
    height: @navHeight;
    padding: 1px 0;
  }
  a {
    color: @white-darker !important;
  }
  
  /* Catalog */
  
  .catalog {
    .col-xs-4;
    .pull-left;
    
    &-open {
      .f-hv-l;
      .pull-left;
      line-height: @navHeight;
      height: @navHeight;
      
      &:after {
        content: "";
        float: right;
        width: 20px;
        height: 9px;
        background: @spline no-repeat 0 -37px;
        margin-top: ((@navHeight)-10)/2;
        margin-left: 10px;
      }
    }
  }
  
  /* Search Form */
  
  .search {
    .col-xs-4;
    .pull-left;
    height: 27px;
    width: 300px;
    margin-top: ((@navHeight)-27)/2;
    margin-bottom: ((@navHeight)-27)/2;
    background: @gray-form;
    padding: 1px;
    
    form {
      width: 100%;
      height: 100%;
      
      button {
        .pull-right;
        width: 64px;
        height: 100%;
        background: @gray-dark;
        color: @white-darker;
        border-width: 0;
        .font-size(12);
      }
      input[type=text] {
        background: none;
        border-width: 0;
        height: 100%;
        padding-left: 8px;
      }
      
    }
  }
  
  
  /* Personal block */
  
  .personal {
    @personalH: 24px;
    @personalLH: 19px;
    text-align: right;
    position: relative;
  
  
    .col-xs-4;
    .pull-right;
    padding: ((@navHeight)-(@personalH))/2 0;
    height: @personalH;
    
    .auth {
      width: 19%;
      
      .popup-link {
        display: inline-block;
        vertical-align: middle;
        line-height: @personalLH;
        text-align: left;
      
        &:before {
          content: "";
          .pull-left;
          width: 15px;
          height: @personalLH;
          background: @spline no-repeat 0 -60px;
          margin-right: 5px;
        }
      }
    }
    
    .cart {
      display: inline-block;
      vertical-align: middle;
      height: @personalH;
      line-height: @personalH;
      border-left: lighten(@gray,10%) 1px solid;
      padding: 0 10px;
      margin-left: 10px;
      
        a:first-child {
          display: inline-block;
          height: @personalH;
          line-height: @personalH;
          
          &:before {
            content: "";
            .pull-left;
            width: 29px;
            height: @personalH;
            background: @spline no-repeat 0 -94px;
            margin-right: 5px;
          }
        }
      
        &-num {
          border-left: lighten(@gray,10%) 1px solid;
          display: inline-block;
          vertical-align: middle;
          line-height: 100%;
          padding: 0 8px;
          margin: 0 20px 0 6px;
        }
      
      
      .btn {
        .font-size(12);
        height: @personalH;
        line-height: @personalH;
        padding-left: 10px;
        padding-right: 10px;
      }
      
    }
    
    
  }
  
}
