.banner-links {

  padding: 30px 0;

  .content-slider-item {
    .col-xs-3;
    letter-spacing: 0;
    padding: @padding-base/2;
  }

  .banner-links-item {
    display: block;
    min-height: 160px;
    width: 100%;
    line-height: 42px;
    text-decoration: none;
    text-align: center;
    padding: @padding-base/2;
    position: relative;
    .clearfix();

    &-icon {
      position: absolute;
      left: @padding-base/2;
      bottom: @padding-base/2;
    }
    
    &-yellow {
      background: url("../images/nav-yellow.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white;
    }
    &-green {
      background: url("../images/nav-green.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white;
    }
    &-pink {
      background: url("../images/nav-pink.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white;
    }
    &-blue {
      background: url("../images/nav-blue.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white;
    }
    
  }
}