.bx-pager-item {
  display: inline-block;        
}
.bx-pager-link {
  display: block;
  width: 20px;
  height: 21px;
  line-height: 21px;
  .f-hv-l;
  color: darken(@gray, 7.7%);
  text-decoration: none;
  text-align: center;
          
  &.active {
    background: @spline no-repeat 0 -128px;
    color: @white;
  }
  &:hover {
    text-decoration: none;
  }
}