﻿@model NoName.Web.Models.GoodsListPageModel

<div class="content-cols-aside pull-left col-md-3">
    <noindex>
        <nav class="catListSub">
            <ul>
                @foreach (var menu in Model.ChildMenu.OrderBy(m => m.OrdValue))
            {
                    <li class="@(menu.NodeId == Model.PagingModel.Id ? "catListSub-selected" : null)">
                        <a href="@(menu.NodeId == Model.PagingModel.Id ? "#" : Url.Action(menu.Action))"><span>@menu.Name</span> | @menu.GoodsCount</a>
                        @if (menu.NodeId == Model.PagingModel.Id)
                        {
                            @Html.Partial(MVC.Catalog.Views.CustomFilter, Model.FilterModel)
                        }
                    </li>
                }
            </ul>
        </nav>
    </noindex>
</div>
