﻿@model NoName.Web.Models.GoodsListPageModel

@if (Model.Tags.Count > 0)
{
    <div class="catalogContent-tags">
        <div class="catalogContent-tags-title">популярное:</div>
        <div class="catalogContent-tags-wrapper">
            @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, MVC.Catalog.Category(tag.ShortLink, null, null))
                if (tag != Model.Tags.Last())
                {
                    @:|
            }
            }
        </div>
    </div>
}
