﻿@using Links
@using NoName.Domain
@using NoName.Web.Builders
@model NoName.Web.Models.GoodsListPageModel
@{
    ViewBag.Title = @Model.Title ?? "Каталог :: www.unixmart.ru";
    ViewBag.Keywords = @Model.Keywords;
    ViewBag.PageDescription = @Model.PageDescription;
    ViewBag.PageClass = "home category-01";
    var selectedManufId = Model.FilterModel.SelectedCheckBoxId;
    ViewBag.Robots = Model.PagingModel.Page > 1 ? "noindex, follow" : "index, follow";
    ViewBag.NextLink = Model.PagingModel.HasNext ? Request.Url.AbsoluteUri + "?page=" + (Model.PagingModel.Page + 1) : null;
    ViewBag.PrevLink = Model.PagingModel.HasPrev ? (Model.PagingModel.Page != 2 ? Request.Url.AbsoluteUri + "?page=" + (Model.PagingModel.Page - 1) : Request.Url.AbsoluteUri) : null;
}

@section scripts
{
    <script>
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        var defaultCheckBox = "@selectedManufId";
    </script>
    <script src="@Scripts.jquery_ba_bbq_min_js.ToCdn()"></script>
    <script src="@Scripts.filters_js.ToCdn()"></script>
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Shared.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

@if (Model.GoodsCount == 0)
{
    @Html.Partial(MVC.Shared.Views.SimilarGoods, Model.SimilarGoods)
}
else
{
    <h1>@Model.H1</h1>
    <div id="GoodsList" class="content-cols">
        @Html.Partial(MVC.Catalog.Views.FilterList, Model)
    </div>
}

<!-- .content-cols -->



@section addFooterContent
{
    @Html.Action(MVC.Basket.ReportAvailable())
}