﻿@model NoName.Web.Models.CatalogFilterModel
<div class="charsList">
    @using (Html.BeginForm(MVC.Catalog.FilterList(), FormMethod.Post, new { id = "filterForm" }))
    {
        @Html.EditorFor(m => m)
    }

    @*<div class="charsList-group">
        <span class="charsList-group-title">Цена:</span>
        <div class="charsList-group-container">
            <div class="range">
                <input type="hidden" class="range-input-start" name="b1" value="0" />
                <input type="hidden" class="range-input-end" name="b2" value="0" />
                <div class="range-full" data-start="500" data-end="2000" data-fact-start="600" data-fact-end="1500" data-round="0"></div>
                <div class="range-text">
                    От <span class="range-text-start"></span>— до <span class="range-text-end"></span>
                </div>
            </div>
        </div>
    </div>*@
</div>
