﻿@using Ecommerce.Domain
@using Ecommerce.Extensions
@model NoName.Web.Models.GoodsListPageModel
<div class="content-cols-main pull-right col-md-9">
    @if (Model.SameLevelMenu != null && Model.SameLevelMenu.Count > 0)
    {
        <div class="catalogContent">
            @foreach (var item in Model.SameLevelMenu)
            {
                <article class="catalogContent-item">
                    <a href="@Url.Action(item.Action)">
                        <figure class="catalogContent-item-image">
                            <img src="@item.Image.Src" alt="@item.Name" />
                        </figure>
                        <span class="catalogContent-item-num">@item.GoodsCount</span>
                        <h3>
                            @item.Name
                        </h3>
                    </a>
                </article>
            }

        </div>
    }
    @Html.Partial(MVC.Catalog.Views.GoodsPaging, Model.PagingModel)
    <div class="index">
        @foreach (var item in Model.GoodsItems)
        {
            <article class="index-item">
                <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">
                    <figure class="index-item-image">
                        <img src="@item.Image.Src" alt="@item.FullName фото" title="Заказать @item.FullName"/>
                    </figure>
                    <h3>
                        @item.FullName <span>#@item.PseudoID</span>
                    </h3>
                </a>
                <div class="index-item-descr">
                    <table class="index-item-descr-chars">
                        @for (int i = 0; i < 6; i++)
                        {
                            if (i < item.GoodsParams.Count)
                            {
                                ParamItem param = item.GoodsParams[i];
                                <tr>
                                    <td class="c-gray s12">@param.ParamName:</td>
                                    <td>@param.ValueAUnit</td>

                                </tr>

                            }
                            else
                            {
                                <tr><td>&nbsp;</td><td></td></tr>
                            }
                        }
                    </table>
                    <div class="index-item-descr-price">@item.PriceString</div>
                    <div class="index-item-descr-buy popup" data-remote="true" data-target="#cartPopup" data-pos="above" data-id="@item.ObjectID">
                        <a href="#" class="btn btn-apply popup-link">Купить</a>
                    </div>
                </div>
            </article>
        }
    </div>
    @Html.Partial(MVC.Catalog.Views.GoodsPaging, Model.PagingModel)
    @if (Model.SeoArticle != null)
    {
        <section>
            <h2>@Model.SeoArticle.Header</h2>
            <div>
                @Model.SeoArticle.Body
            </div>
        </section>
    }
</div>
@Html.Partial(MVC.Catalog.Views.CatalogBody, Model)

