﻿@using System.Globalization
@model NoName.Web.Models.GoodsPagingModel
<div class="pager">
    @if (Model.TotalPages > 1)
    {
        if (Model.Page != 1)
        {
        @Html.ActionLink("предыдущая", MVC.Catalog.Category(Model.ItemId, Model.ManufId, Model.Page - 1 == 1 ? null : (int?)(Model.Page - 1), Model.Sort), new { @class = "pager-prev" }, null, null, Model.Fragment)
        }
        var prev = 0;
        foreach (var i in Model)
        {
            if (prev + 1 != i)
            {
                @:&hellip;
            }
            if (i == Model.Page)
            {
                <a href="javascript:" class="pager-current">@i</a>
            }
            else
            {
                @Html.ActionLink(i.ToString(CultureInfo.InvariantCulture), MVC.Catalog.Category(Model.ItemId, Model.ManufId, i == 1 ? null : (int?)i, Model.Sort), null, null, null, Model.Fragment)
            }
            prev = i;
        }
        if (Model.TotalPages != Model.Page)
        {
            @Html.ActionLink("следующая", MVC.Catalog.Category(Model.ItemId, Model.ManufId, Model.Page + 1, Model.Sort), new { @class = "pager-next" }, null, null, Model.Fragment)
        }
    }
</div>
<div class="showOptions">
    @if (Model.Total > 1)
    {
        @: Сортировать:
        <a href="@Url.Action(MVC.Catalog.Category(Model.ItemId, Model.ManufId, 1, "pop"))">по популярности</a>
        <a href="@Url.Action(MVC.Catalog.Category(Model.ItemId, Model.ManufId, 1, Model.Sort == null || Model.Sort == "up" ? "down" : "up"))">по цене @(Model.Sort == "down" ? Html.Raw("&#8595;") : (Model.Sort == null || Model.Sort == "up" ? Html.Raw("&#8593;") : null))</a>
    }
</div>
