﻿@using NoName.Domain
@model NoName.Web.Models.CatalogMenuModel
@{
    ViewBag.Title = @Model.Title ?? "Каталог :: www.unixmart.ru";
    ViewBag.Keywords = @Model.Keywords;
    ViewBag.PageDescription = @Model.PageDescription;
    ViewBag.Canonical = Model.Canonical;
    ViewBag.PageClass = "home category-01";
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Shared.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

<h1>@Model.H1</h1>

<div class="content-cols">
    <div class="content-cols-main pull-right col-md-9">
        <div class="catalogContent">
            @foreach (var item in Model.ChildMenu)
            {
                <article class="catalogContent-item">
                    <a href="@Url.Action(item.Action)">
                        <figure class="catalogContent-item-image">
                            <img src="@item.Image.Src" alt="@item.Name"/>
                        </figure>
                        <span class="catalogContent-item-num">@item.GoodsCount</span>
                        <h3>@item.Name
                        </h3>
                    </a>
                </article>
            }

        </div>
        @if (Model.SeoArticle != null)
        {
            <section>
                <h2>@Model.SeoArticle.Header</h2>
                <div>
                    @Model.SeoArticle.Body
                </div>
            </section>
        }
    </div>
    <div class="content-cols-aside pull-left col-md-3">
        <nav class="catListSub">
            <ul>
                @foreach (var item in Model.ChildMenu)
                {
                    <li>
                        <a href="@Url.Action(item.Action)"><span>@item.Name</span> | @item.GoodsCount</a>
                        @if (item.ChildMenu.Count > 0)
                        {
                            <ul>
                                @foreach (var child in item.ChildMenu)
                                {
                                    <li><a href="@Url.Action(child.Action)"><span>@child.Name</span> | @child.GoodsCount</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
        @Html.Action(MVC.Layout.LeftPromoBlock())
        
    </div>
</div>
<!-- .content-cols -->

@section subContent
{
    @Html.Action(MVC.Home.Abc())
}

@section addFooterContent
{
    @Html.Partial(MVC.Basket.Views.AddToBasketPopup, new Basket())
}