﻿@using NoName.Domain
@model NoName.Web.Models.GoodsListPageModel
@{
    ViewBag.Title = @Model.Title ?? "Каталог :: www.unixmart.ru";
    ViewBag.Keywords = @Model.Keywords;
    ViewBag.PageDescription = @Model.PageDescription;
    ViewBag.Canonical = @Url.Action(Model.CanonicalLink);
    ViewBag.PageClass = "home category-01";
    var selectedManufId = Model.FilterModel.SelectedCheckBoxId;
    ViewBag.Robots = Model.PagingModel.Page > 1 ? "noindex, follow" : "index, follow";
    ViewBag.NextLink = Model.PagingModel.HasNext ? Request.Path + "?page=" + (Model.PagingModel.Page + 1) : null;
    ViewBag.PrevLink = Model.PagingModel.HasPrev ? (Model.PagingModel.Page != 2 ? Request.Path + "?page=" + (Model.PagingModel.Page - 1) : Request.Path) : null;
}

@section scripts
{
    <script type="text/javascript">
        jQuery.browser = {};
        (function () {
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        var defaultCheckBox = "@selectedManufId";
    </script>
    <script src="~/Scripts/jquery.ba-bbq.js" type="text/javascript"></script>
    <script src="~/Scripts/filters.js" type="text/javascript"></script>
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Shared.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

@if (Model.GoodsCount == 0)
{
    @Html.Partial(MVC.Shared.Views.SimilarGoods, Model.SimilarGoods)
}
else
{
    <h1>@Model.H1</h1>
    <div id="GoodsList" class="content-cols">
        @Html.Partial(MVC.Catalog.Views.FilterList, Model)
    </div>
}

<!-- .content-cols -->

@section subContent
{
    @Html.Action(MVC.Home.Abc())
}

@section addFooterContent
{
    @Html.Partial(MVC.Basket.Views.AddToBasketPopup, new Basket())
}