﻿@model NoName.Web.Models.ArticleModel
@{
    ViewBag.Title = @Model.Article.Title ?? string.Format("Статья {0} :: www.unixmart.ru", Model.Article.Title);
    ViewBag.Keywords = @Model.Article.Keywords;
    ViewBag.PageDescription = @Model.Article.PageDescription;
    ViewBag.PageClass = "home";
}

<div class="breadcrumbs">
    @Html.ActionLink("Главная", MVC.Home.Index())
    |
    <span>@Model.Article.Header</span>
</div>
<h1>@Model.Article.Header</h1>
<div class="content-cols search-content">
    <div class="content-cols-main pull-right col-md-9">
        <div class="articles">
            @Model.Article.Body
        </div>
    </div>
    <div class="content-cols-aside pull-left col-md-3">
        <nav class="catListSub">
            <ul>
                @foreach (var item in Model.Menu)
                {
                    <li class="@(item.ObjectId == Model.SelectedId ? "catListSub-selected" : null)">
                        <a href="@(item.ObjectId == Model.SelectedId ? "#" : item.MenuUrl)"><span>@item.Name</span></a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>
<!-- .content-cols -->


