﻿@model NoName.Web.Models.AbcModel
<div class="abc">
    <div class="container">
        <h4>Техника лучших производителей</h4>
        <ul class="columns" data-columns="6">
            @foreach (var item in Model.Companys)
            {
                <li class="dontsplit">
                    <span>@item.Header</span>
                    @foreach (var company in item.Items)
                    {
                        <a href="@Url.Action(MVC.Manufacturer.List(company.ManufRepresentation))">@company.CompanyName</a>@(company != item.Items.Last() ? "," : null)
                    }
                </li>
            }
        </ul>
    </div>
</div>
