﻿@using NoName.Domain
@model NoName.Web.Models.HomePageModel
@{
    ViewBag.Title = @Model.SeoArticle.Title ?? "Главная :: www.unixmart.ru";
    ViewBag.Keywords = @Model.SeoArticle.Keywords;
    ViewBag.PageDescription = @Model.SeoArticle.PageDescription;
    ViewBag.PageClass = "home";
    var mobile = Request.Browser.IsMobileDevice;
}

<section class="content-section">
    <h2>Спецпредложения</h2>
    @Html.Action(MVC.Home.Special())
</section>
<section class="content-section">
    <h2>Самые популярные</h2>
    @Html.Action(MVC.Home.Hits())
</section>
<section class="content-section">
    <h2>Новинки</h2>
    @Html.Action(MVC.Home.New())
</section>

<div class="linkBanner">
    @foreach (var item in Model.PromoList)
    {
        <div class="linkBanner-item">
            @Html.Raw(item.Description)
        </div>
    }
</div>

@if (@Model.SeoArticle != null)
{
    <section class="content-section">
        <h1>@Model.SeoArticle.Header</h1>
        <div class="columns" data-columns="2">
            @Model.SeoArticle.Body
        </div>
    </section>
}

@Html.Action(MVC.Home.Abc())

@section addHeaderContent
{
    @if(!mobile) {
        @Html.Action(MVC.Home.AdvertWideList())
    }
    
}


@section addFooterContent
{
}
