﻿<a href="#" data-action="dropdown" id="callback_dropdown">Заказать звонок</a>
<div class="popup-container card-phone-container" aria-labelledby="callback_dropdown">
    <span class="popup-container-close" data-action='close'></span>
    <div class="card-phone-container-head">Укажите номер телефона – оператор сам перезвонит вам через 4 минуты</div>
    @using (Html.BeginForm(MVC.Request.Index(), FormMethod.Post, new { @class = "requestCallback" }))
    {
        <input type="text" placeholder="" value="" name="callbackPhone" class="mask-phone" />
        <button type="submit" class="btn btn-apply" id="submitButton">Позвонить</button>
    }
    <div class="card-phone-container-footer">оператор сам перезвонит вам через 4 минуты</div>
</div>