﻿<%@ Page language="c#" Codebehind="BrowseImage.aspx.cs" AutoEventWireup="True" Inherits="BackendService.Browse.BrowseImage_" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ѕредварительный просмотр картинок</title>
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
			<asp:Image id="imgPreview" runat="server"></asp:Image>
		</form>
	</body>
</HTML>
