﻿@using NoName.Domain
@model Basket
@{
    var model = Model ?? new Basket();
}
<div class="popup-container goods-buy-container" id="cartPopup">
    <span class="popup-container-close"></span>
    <div class="innerContent">
        @Html.Partial(MVC.Basket.Views.BasketAdd, model)
    </div>
</div>