﻿@using Ecommerce.Extensions
@model NoName.Domain.Basket
@*<div class="innerContent">*@
    <div class="goods-buy-container-title">Ваш товар добавлен в корзину</div>
    <div class="goods-buy-container-info">В корзине: @("товар".Decline(@Model.TotalGoodsCount)) на сумму <span class="goods-buy-info-sum">@Model.TotalPrice.ToString("#,#0.00")</span> р.
        <a class="buy-link" href="@(Model.TotalGoodsCount > 0 ? Url.Action(MVC.Basket.Index()) : "#")">Перейти к оформлению</a></div>
@*</div>*@
