﻿@model NoName.Web.Models.BasketViewModel
@{
    int index = 0;
    int currDeliveryType = Model.DeliveryType ?? Model.Deliveries.FirstOrDefault().DeliveryType;
}

<div class="h1">
    Корзина <a href="@Url.Action(MVC.Home.Index())">Продолжить покупки</a>
</div>
@if (Model.OnlinePayment)
{
    @Html.Partial(MVC.Basket.Views.OnlinePayment)
}
@Html.HiddenFor(m => m.OID)
@if (Model.Items.Count == 0)
{
    @:Ваша корзина пуста
}
else
{
    <div class="cart-goods">
        @foreach (var item in Model.Items)
        {
            <div class="cart-goods-item">
                <div class="cart-goods-item-field cart-goods-item-image">
                    <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectId))" target="_blank">
                        <img src="@item.Image.Src" alt="@item.FullName"/>
                    </a>
                </div>
                <div class="cart-goods-item-field cart-goods-item-title">
                    <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectId))" target="_blank">@item.FullName</a>
                    <span class="cart-goods-item-title-article">Артикул @item.PseudoID</span>
                </div>
                <div class="cart-goods-item-field cart-goods-item-quantity">
                    <span class="cart-goods-item-quantity-decrease">–</span>
                    <span class="cart-goods-item-quantity-increase">+</span>
                    @Html.TextBoxFor(m => m.Items[index].Amount)
                    @Html.HiddenFor(m => m.Items[index].OrdValue)
                </div>
                <div class="cart-goods-item-field cart-goods-item-price">
                    @item.TotalPriceString
                </div>
                <span class="cart-goods-item-close" data-rel="@item.OrdValue">
                    <img src="/content/images/close.png" alt="Удалить" /></span>
            </div>
            index++;
        }
    </div> 
}
@Html.Partial(MVC.Basket.Views.DeliveryOptions)
@*<div class="cart-options cart-guaranty">
    <div class="h3">Дополнительная гарантия:</div>
    <label class="cart-options-item">
        <input type="radio" name="a2" />
        <span class="cart-options-item-title">1 год
        </span>
    </label>
    <label class="cart-options-item">
        <input type="radio" name="a2" />
        <span class="cart-options-item-title">2 года
        </span>
    </label>
    <label class="cart-options-item">
        <input type="radio" name="a2" />
        <span class="cart-options-item-title">3 года
        </span>
    </label>
</div>*@
<div class="cart-options cart-payment">
    <div class="h3">Оплата товара:</div>
    @foreach (var p in Model.PayTypes)
    {
        <label class="cart-options-item">
            @if (p.Selected)
            {
                @Html.RadioButtonFor(m => m.PayType, p.PayType, new { @checked = "checked" })
            }
            else
            {
                @Html.RadioButtonFor(m => m.PayType, p.PayType)   
            }
            <span class="cart-options-item-title">@p.Name
                <span>@p.Description</span>
            </span>
        </label>
    }
</div>

<div class="cart-total">
    Итоговая стоимость заказа:  <span class="cart-total-sum">@Model.TotalFullPriceString</span>
    <button type="submit" class="btn btn-apply">Продолжить оформление</button>
</div>

@Html.Partial(MVC.Basket.Views.Accessories, Model.Accessories)



