﻿@model NoName.Web.Models.BuyOneClickModel
<div class="popup-container formPopup" id="oneClickBuy" style="display: none;">
    <span class="popup-container-close"></span>
    <div class="popup-container-body">
        @using (Html.BeginForm(MVC.Basket.BuyOneClick(), FormMethod.Post, new { @class = "form", id = "BuyOneClick" }))
        {
            @Html.HiddenFor(m => m.GoodsOID)
            <div class="h3">Купить в один клик</div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Ваше имя" })
                </label>
            </div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextBoxFor(m => m.Phone, new { @class="mask-phone", placeholder = "Ваш телефон" })
                </label>
            </div>
            <div class="form-group">
                <label class="field-text">
                    @Html.TextAreaFor(m => m.Comments, new { placeholder = "Ваш комментарий" })
                </label>
            </div>
            <div class="form-group">
                <button class="btn btn-apply" type="submit">Купить</button>
            </div>
        }
    </div>
</div>
