﻿.home h1 {
    font-family: "helveticaneuecyrlight";
    font-size: 2rem;
    font-weight: normal;
    margin: 20px 0 8px;    
}



.index-item > a h3 {
    min-height: 70px;
}

a.buy-link, a.buy-link:link, a.buy-link:visited, a.buy-link:active {
    color: #27e3bf;
}


.showOptions {
    padding: 0 0 10px;
}


h2.price {
    font-size: 0.857143rem;
    margin: 4px 0 4px;
}

h4, .h4 {
    font-family: "helveticaneuecyrlight";
    font-size: 2rem;
    font-weight: normal;
    margin: 20px 0 8px;
}

.goods .h3 {
    font-size: 1rem;
    font-weight: normal;
    min-height: 68px;
}


.card-chars h3 {
    font-family: "helveticaneuecyrroman";
    font-size: 14px;
    display: inline;
    color: #253139;
    background: #ffffff none repeat scroll 0 0;
    padding: 2px;
}

.card-chars table tr td {
    width: 50%;
    padding: 9px 0 0;
}

.card-buy {
    margin: 30px 0 25px;
}

.mainpage h1 {
    padding: 10px 0;
    font-size: 12px;
}

.card-article span {
    font-family: "helveticaneuecyrmedium";
    color: black;
    font-size: 1rem;
}


.error h1 {
    padding: 10px 0;
    font-size: 14px;
    color: red;
}

.bold {
    font-weight: bold;
}

a.call-phone {
    font-size: 29px;
}

.header-contacts-phone {
    margin-bottom: 5px;
}

a.mobile:after {
    background: none;
}

.reportPopup-opened .overlay {
    display: block;
}

.alert {
    color: red;
    font-size: 12px !important; 
}

.field-validation-error {
    color: red;
}

.card-gallery-large > img {
    display: none;
}