.card {
  @media (min-width: @screen-md) {
    padding: @padding-base*2 0;
  }
  @media (max-width: @screen-sm-max) {
    padding: @padding-base/2 0;
  }
  .clearfix();
  
  > .row {
    margin: 0 -@padding-base/2;
    
    @media (max-width: @screen-sm-max) {
      display: flex;
      flex-wrap: wrap;
    }
    
    > [class^="col"] {
      @media (min-width: @screen-md) {
        float: right;
        padding: 0 @padding-base/2;
      }
      @media (max-width: @screen-sm-max) {
        flex: 0 0 100%;
        max-width: 100%;
        &:first-child {
          order: 2;
        }
        &:last-child {
          order: 1;
        }
      }
    }
  }

  h1 {
    margin: 0;
  }

  &-payInfo {
    float: right;
    .clearfix();
    .font-size(11);
    color: #858585;
    margin: 0 0 10px;
    
    @media (max-width: @screen-sm-max) {
      &.m {
        float: none;
        clear: left;
      }
    }
    @media (min-width: @screen-md) {
      &.m {
      }
    }
    
    p {
      .clearfix();
      display: block;
      margin: 0 20px 0 0;
      vertical-align: top;
      span {
        color: #000;
      }
    }
    img {
      margin: 0 0 15px;
    }
  }

  
  &-article {
    color: #6a747b;
    .font-size(12);
    @media (max-width: @screen-sm-max) {
      padding: @padding-base/2 0;
    }
    
    span {
      .f-hv-med;
      color: black;
      .font-size(14);
    }
    
  }
  
  &-price {
    
    clear: right;
    @media (min-width: @screen-md) {
      float: left;
    }
    
    &-exists {
      color: @pink;
      .font-size(12);
      display: block;
    }
    &-digits {
      .font-size(34);
    }
    &.absent {
      padding: 15px 0 14px;
      color: @pink;
      text-align: center;
      background: lighten(@pink, 55%);
      @media (min-width: @screen-lg) {
        width: 50%;
      }
      @media (max-width: @screen-md-max) {
        width: 100%;
      }
    }
    
      
    @media (max-width: @screen-sm-max) {
      padding: 5px 0;
    }
    @media (min-width: @screen-lg) {
      margin-top: 30px;
    }
  
    
  }
  
  &-buy {
    margin-bottom: 25px;
    clear: left;
    
    @media (min-width: @screen-lg) {
      margin-top: 30px;
      float: right;
      clear: none;
    }    
    @media (max-width: @screen-sm-max) {
      display: flex;
      flex-wrap: wrap;
      
      &.m {
        float: none;
        clear: left;
        padding: 15px 0;
        margin: 0;
      }
    }
    @media (min-width: @screen-md) {
      &.m {
      }
    }
    @media (max-width: @screen-sm-max) {
      padding-top: 15px;
    }
  
    
    &-link {
      display: inline-block;
      @media (max-width: @screen-sm-max) {
        margin-bottom: 6px;
        flex: 50 50 50%;
        padding-right: 6px;
        &:last-child {
          padding-right: 0;
        }
      }
    }
    
    .btn {
      .font-size(22);
      height: 45px;
      line-height: 45px;
      padding: 0 20px;
      vertical-align: top;
      @media (max-width: @screen-sm-max) {
        width: 100%;
        display: block;
      }
    }
    
    &-action-link {
      padding-bottom: 4px;
      @media (max-width: @screen-sm-max) {
        flex: 50 50 100%;
      }
      
      .btn {
        padding: 0 10px;
        width: 100%;
        text-align: center;
        display: block;
        @media (max-width: @screen-sm-max) {
          font-size: 20px;
        }
      }
    }
  }
  
  &-icon {
    @media (max-width: @screen-sm-max) {
      display: none;
    }
    margin: @padding-base 0;
    > span {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: @spline;
      background-repeat: no-repeat;
      margin-right: @padding-base;
    }
    &-bars {
      background-position: 0 -530px;
    }
    &-forward {
      background-position: -3px -564px;
    }
  }
  
  &-phone {
    clear: both;
    text-align: center;
    position: relative;
    .clearfix();
    
    @media (min-width: @screen-md) {
      background: @green;
    }
    @media (max-width: @screen-sm-max) {
      display: flex;
      flex-wrap: wrap;
    }
    
    > span {
      display: inline-block;
      background: @green;
      color: @white;
      .font-size(28);
      .f-hv-b;
      letter-spacing: 0.1em;
      height: 45px;
      line-height: 45px;
      @media (max-width: @screen-sm-max) {
        padding: 0 10px;
        float: left;
        clear: left;
      }
    }
    
    &-order {
      color: @gray-dark !important;
      text-decoration: underline !important;
      width: 190px;
      height: 33px;
      line-height: 33px;
      .font-size(14);
      
      
      @media (min-width: @screen-md) {
        float: right;
        border-left: 1px @white solid;
        background: @green;
        margin: 6px 0;
      }
      @media (max-width: @screen-sm-max) {
        height: 45px;
        line-height: 45px;
        background: @pink;
        color: white !important;
        float: left;
        clear: left;
      }
      
      &:before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 24px;
        background: @spline no-repeat 0 -593px;
        vertical-align: middle;
        margin-right: 5px;
      }
      @media (max-width: @screen-sm-max) {
        &:before {
          background: @spline no-repeat -25px -593px;
        }
      }
    }
    &-container {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      @media (max-width: @screen-sm-max) {
        width: 480px;
        max-width: 90%;
      }
    
      padding: 25px @padding-base @padding-base;
      text-align: left;
      
      &-head {
      }
      form {
        @media (min-width: @screen-sm) {
          padding: @padding-base 0;
        }
        @media (max-width: @screen-xs-max) {
          padding: 10px 0;
        }
        overflow: hidden;
        
        input[type=text],
        input[type=phone],
        .btn {
          height: 36px;
        }
        input[type=text],
        input[type=phone] {
          width: 50%;
          margin-right: ((@padding-base)-3);
          color: @gray-dark;
          padding-left: 5px;
          border: 1px @gray solid;
        }
      }
      &-footer {
        clear: both;
        padding: 0;
      }
    }
  }
  
  &-tabs {
    margin: 40px 0;
    
    > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      .clearfix();
      border-left: 1px #ccc solid;
      
      
      > li {
        float: left;
        border-top: 1px #ccc solid;
        border-right: 1px #ccc solid;
        width: 70px;
        text-align: center;
        height: 38px;
        line-height: 38px;
        
        img {
          line-height: 38px;
          vertical-align: middle;
        }
        
        &.ui-tabs-active {
          background: @gray-light;
          border-width: 0;
          margin: 0 -1px;
        }
        
      }
    }
    &-container {
      display: none;
      background: @gray-light;
      padding: @padding-base/2 @padding-base;
      
      p {
        margin: 2px 0;
      }
      
    }
  }
  
  &-chars {
    margin-bottom: 50px;
    
    table {
      .font-size(12);
      width: 100%;
      
      tr {
        td {
          width: 50%;
          padding: 9px 0 0;
          
          &:first-child {
            background: url("../images/dots.png") repeat-x left bottom;
            
            > span {
              background: @white;
              padding: 2px;
            }
            
          }
          
        }
      }
    }
    
    h3 {
      .f-hv;
      .font-size(14);
      display: inline;
      color: @gray-dark;
      background: #ffffff none repeat scroll 0 0;
      padding: 2px;
    }
  }
  
  
  &-gallery {
    position: relative;
    
    @media (max-width: @screen-sm-max) {
      &.m {
      }
    }
    @media (min-width: @screen-md) {
      &.m {
      }
    }
    
    
    &-large {
      border: 1px #ccc solid;
      height: 540px;
      line-height: 540px;
      text-align: center;
      
      > a {
        display: none;
        
        @media (min-width: @screen-md) {
          &:after {
            content: "";
            position: absolute;
            right: 8px;
            top: 8px;
            width: 41px;
            height: 41px;
            background: @spline no-repeat 0 -336px;
          }
        }        
        
        .action & {
          &:before {
            content: "";
            position: absolute;
            left: 20px;
            top: 0;
            width: 115px;
            height: 115px;
            background: url("../images/skidki-350x350.png") no-repeat 50% 50%;
            background-size: contain;
          }
        }
      
      }
      &-selected {
        display: block !important;
      }    
    }
    &-next,
    &-prev {
      position: absolute;
      top: 250px;
      width: 29px;
      height: 56px;
      background-image: @spline;
      background-repeat: no-repeat;
      cursor: pointer;
      text-indent: -9999px;
    }
    &-prev {
      left: 20px;
      background-position: 0 -455px;
    }
    &-next {
      right: 20px;
      background-position: -41px -455px;
    }
    &-prev.active {
      left: 20px;
      background-position: 0 -398px;
    }
    &-next.active {
      right: 20px;
      background-position: -41px -398px;
    }
    
    &-thmbs {
      padding: @padding-base 0 0;
      letter-spacing: @padding-base;

      > a {
        display: inline-block;
        width: 80px;
        height: 100px;
        border: 1px #ccc solid;
        overflow: hidden;
        position: relative;
        margin-bottom: @padding-base;
        
        &.active:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url("../images/gallery-active.png") no-repeat 0 0;
          background-size: cover;
        }
        
        img {
          width: 100%;
          height: auto;
          
        }
      }
    }
  }
  
  &-text {
    .font-size(12);
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }
  
  &-warn {
    .font-size(10);
    max-width: 600px;
    padding: 10px 0;
  }
  
}