.order {
  &-thanks {
    background: url("../images/order-thanks.png") no-repeat left top;
    background-size: contain;
    max-width: 100%;
    height: 97px;
    .font-size(30);
    padding-left: 27px;
    margin: 20px 0;
    
    p {
    letter-spacing: 0.7px;
    }
    
    @media (min-width: @screen-md) {
      line-height: 97px;
    }
    @media (max-width: @screen-sm-max) {
      text-shadow: 0 0 2px #fff
    }
    
  }
  
  
  &-details {
    max-width: 780px;
    border: 1px #ccc solid;
    padding: @padding-base;
    margin: 30px 0 0;
    
    p {
    letter-spacing: 0.7px;
    }
    
    h3 {
      margin: 0;
      clear: both;
    }
    ul {
      list-style-type: none;
      padding: 0;
      @media (min-width: @screen-md) {
        margin: 0 0 30px 15px;
      }
      @media (max-width: @screen-sm-max) {
        margin: 0 0 30px 0;
      }
      
      li {
        background: url("../images/dots.png") repeat-x left bottom;
        margin: 10px 0;
        .clearfix();
        
        > span {
          line-height: 18px;
        }
      }
      
    }
    
    &-goods {
      &-param {
        float: left;
        background: @white;
        padding: 0 3px 0 0;
        clear: both;
      }
      &-value {
        float: right;
        background: @white;
        .font-size(18);
        .f-hv-med;
        padding: 0 0 0 3px;
        width: 130px;
      }
      &-quantity {
        color: @blue;
        float: right;
        background: @white;
        margin-right: 30px;
        padding: 0 0 0 3px;
        text-align: center;
      }
    }
    
    &-price {
      .font-size(30);
      color: @white;
      .f-hv-l;
      margin: 0 -@padding-base;
      background: #33cccc url("../images/dots-white.png") repeat-x left 36px;
      
            
      @media (max-width: @screen-sm-max) {
      }
      @media (min-width: @screen-md) {
        height: 53px;
        line-height: 53px;
      }

      
      &-param {
        float: left;
        background: #33cccc;
        
        @media (max-width: @screen-sm-max) {
          padding: 10px 5px 0 @padding-base;
        }
        @media (min-width: @screen-md) {
          padding: 0 5px 0 @padding-base;          
        }
        
      }
      &-value {
        @media (max-width: @screen-sm-max) {
          display: block;
          clear: both;
          padding: 10px 5px 15px @padding-base;
        }
        @media (min-width: @screen-md) {
          float: right;
        }
        background: #33cccc;
        padding: 0 @padding-base 0 5px;
      }
      
    }
    
    &-personal {
      margin: 0 -@padding-base -@padding-base;
      padding: 30px @padding-base 1px;
      background: @gray-light;
      
      @media (max-width: @screen-sm-max) {
        clear: both;
      }
      @media (min-width: @screen-md) {
      }
      
      h3 + p {
        margin-bottom: 30px;
         
        @media (min-width: @screen-md) {
          margin-left: 15px;
        }
         
      }
    }
  }
}


.backToShop {
  background: #8489c9;
  color: @white;
  max-width: 780px;
  border-bottom: 50px @white solid;
  
  a {
    color: @white !important;
  } 
  
  &-link {
    float: right;
    margin: @padding-base @padding-base @padding-base 0;
    text-decoration: underline !important;
  }
  
}