@import "breadcrumbs.less";
@import "goods.less";
@import "slider-control.less";
@import "slider-banners.less";
@import "abc-catalog.less";
@import "content-catalog.less";
@import "form_popup.less";
@import "card.less";
@import "index.less";
@import "search.less";
@import "article.less";

* {
  box-sizing: border-box;
}


a,
a:link,
a:visited,
a:active {
  color: @blue;
  text-decoration: none;
  
  
}
a:hover {
  color: @blue;
  text-decoration: underline;
}

a.buy-link {
  &, 
  &:link, 
  &:visited, 
  &:active {
    color: @categoryColor-06;
  }
}

h1,
.h1 {
  font-weight: normal;
  .font-size(32);
  margin: 20px 0 8px;
  
  .home & {
    font-family: "helveticaneuecyrlight";
    .font-size(28);
  }
  .mainpage & {
    padding: 10px 0;
    .font-size(12);
  }
  
  &.price {
    .font-size(12);
    margin: 4px 0;
  }
  
  .error & {
    padding: 10px 0;
    .font-size(14);
    color: red;
  }
  
}

h2,
.h2 {
  font-weight: normal;
  .font-size(28);
  .f-hv-l;
  margin: 20px 0 8px;
}

h3,
.h3 {
  font-weight: normal;
  .font-size(24);
  .f-hv-l;
  margin: 20px 0 8px;
}

h4, 
.h4 {
  .f-hv-l;
  .font-size(28);
  font-weight: normal;
  margin: 20px 0 8px;
}


figure {
  margin: 0;
  img {
    max-width: 100%;
  }
}

.content {
  background: @white;
  
  &-slider {
    /* margin: 0 -@padding-base/2; */
    .clearfix();
    letter-spacing: -0.4em;
    position: relative;
   
    .bx-controls {
      letter-spacing: 0;
      padding-bottom: 20px;
      @media (min-width: @screen-md) {
        text-align: right;
      }
      @media (max-width: @screen-sm-max) {
        text-align: center;
      }
    }
    .bx-wrapper {
      @media (max-width: @screen-sm-max) {
        margin: 0 auto;
      }
    }
  }
  &-section {
    clear: both;
    
    h2 {
      @media (max-width: @screen-sm-max) {
        text-align: center;
      }
    }
  }
  
  
  p, ul, ol {
    line-height: 150%;
  }
  
}


.showOptions {
  .font-size(12);
  line-height: 22px;
  padding: 0 0 10px;
  .f-hv-l;
  
  @media (min-width: @screen-md) {
    float: right;
  }
  @media (min-width: @screen-sm) {
    @media (max-width: @screen-sm-max) {
      float: left;
    }
  }
  @media (max-width: @screen-xs-max) {
    text-align: center;
    padding: 15px 0;
    clear: both;
  }
  
  > a {
    margin-left: 25px;
  }
}

.pager {
  .font-size(14);
  
  @media (min-width: @screen-sm) {
    margin-left: 40px;
    float: right;
  }
  @media (max-width: @screen-xs-max) {
    text-align: center;
    padding: 15px 0;
    clear: both;
  }
  
  > a {
    color: @gray-dark;
    display: inline-block;
    .f-hv-l;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    width: 20px; 
    vertical-align: middle;
  }
  &-current {
    background: @spline no-repeat 0 -128px;
    color: @white !important;
  }
  &-next {
    background: @spline no-repeat -54px -649px;
    text-indent: -9999px;
  }
  &-prev {
    background: @spline no-repeat 0 -649px;
    text-indent: -9999px;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 99;
  
  .oneClickBuy-opened &,
  .card_callback-opened &,
  .cartPopup-opened &,
  .cartSale-opened & {
    display: block;
  }
  
}

.oneClickBuy-opened,
.card_callback-opened,
.cartPopup-opened,
.cartSale-opened{
  //overflow: hidden;
}

iframe {
  max-width: 100%;
}

.section-form {
  margin: 15px 0 30px;
  overflow: hidden;

  h3, h2 {
    margin: 30px 0 25px;
  }
  
  .form-caption {
    display: block;
    margin: 5px 0;
    color: @gray;
  }
  .form-error {
    display: block;
    margin: 5px 0;
    color: @brand-danger;
  }
  .form-label-caption {
    font-weight: 400;
    color: #666;
    margin: 10px 0;
    ul {
      margin: 3px 0;
      padding: 0 0 0 15px;
      li {
        padding: 0 0 0 0;
      }
    }
  }
}