.icon {
  display: inline-block;
  vertical-align: middle;
  
  &:before {
    content: "";
    float: left;
    width: 100%;
    height: 100%;
  }
  
  &-cargo {
    width: 66px;
    height: 66px;
    &:before {
      background: @spline no-repeat 0 -746px;
    }
  }
  &-list {
    width: 66px;
    height: 66px;
    &:before {
      background: @spline no-repeat 0 -836px;
    }
  }
  &-gears {
    width: 66px;
    height: 66px;
    &:before {
      background: @spline no-repeat 0 -926px;
    }
  }
  &-info {
    width: 66px;
    height: 66px;
    &:before {
      background: @spline no-repeat 0 -1016px;
    }
  }
  
  &-bars-white {
    width: 15px;
    height: 9px;
    &:before {
      background: @spline no-repeat 0 -1099px;
    }
  }
  &-bars-red {
    width: 15px;
    height: 9px;
    &:before {
      background: @spline no-repeat 0 -1121px;
    }
  }
}  
