.index {
  clear: both;
  margin: 0 -@padding-base/2 10px;
  
  @media (min-width: @screen-md) {
    letter-spacing: -0.4em;
  }
  
  &.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
  
  &-item {
    @media (min-width: @screen-md) {
      .col-xs-4;
      display: inline-block;
      letter-spacing: 0;  
      float: none;
    }
    position: relative;
    vertical-align: top;
    @media (min-width: @screen-md) {
      padding: @padding-base/2;
      height: 600px;
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
    
    
    .flex & {
      display: flex;
      flex-direction: column;
      @media (min-width: @screen-md) {
        flex: 0 0 33.33%;
        max-width: 33.33%;
        height: auto;
      }
      @media (max-width: @screen-sm-max) {
        
      }
      
      > a {
        
      }
    }
    
    &-image {
      overflow: hidden;
      img {
        display: block;
        margin: auto;
        width: 100%;
        //height: 260px;
      }
    }
    
    > a {
      display: block;
      border-top: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      padding: @padding-base/2;
      
      h3 {
        margin: 10px auto 0;
        text-align: center;
        letter-spacing: 1px;
        
        @media (max-width: @screen-sm-max) {
          margin-bottom: 15px;
          .font-size(18);
        }
        @media (min-width: @screen-md) {
          .font-size(14);
          max-width: 80%;
          min-height: 70px;
        }
      }
      
    }
    &-descr {
      border-bottom: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      background: #f3f2f1;
      padding: @padding-base/2;
      .clearfix();
      
      .flex & {
        flex: 0 100 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:before,
        &:after {
          display: none;
        }
      }
      
      &-chars {
        width: 100%;
        margin-bottom: 30px;
        
        .flex & {
          flex: 100 100 100%;
          display: flex;
        }
        table {
          tr {
            td {
              padding: 2px 0;
              vertical-align: top;
            }
            td:first-child {
              .font-size(11);
              width: 60%;
            }
            td:last-child {
              width: 40%;
              .font-size(12);
              .f-hv-med;
              padding-left: 15px;
            }
          }
        }
      }
      
      &-price {
        @media (min-width: @screen-lg) {
          float: left;
          width: 55%;
        }
        @media  (max-width: @screen-sm-max) {
          float: left;
          width: 55%;
        }
        @media (min-width: @screen-md) and (max-width: @screen-md-max) {
          margin-bottom: 10px;
        }
        .font-size(20);
        .f-hv-med;
        
        .absent & {
          padding: 15px 0 14px;
          color: @pink;
          text-align: center;
          width: 100%;
          .font-size(16);
        }
        
      }
      &-buy {
        
        @media (min-width: @screen-lg) {
          text-align: right;
          float: right;
        }
        @media (max-width: @screen-sm-max) {
          text-align: right;
          float: right;
        }
        .absent & {
          float: none;
        }
        .btn {
          .font-size(20);
          line-height: 32px;
          height: 32px;
          padding: 0 17px;
          
          .absent & {
            width: 100%;
            .font-size(16);
          }
          
        }
        
      }
      
      
    }
    
  }
}