.popup {

  &-container {
    position: absolute;
    display: none;
    color: @gray-dark;
    background: @white;
    z-index: 100;
    box-shadow: 0 0 20px @gray-lighter;
    .clearfix();

    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 13px;
      height: 14px;
      background: @spline no-repeat 0 -205px;
      cursor: pointer;
    }

    &.opened{
      display: block !important;
    }
    
    &.center {
      position: fixed;
      left: 0;
      right: 0;
      top: 50%;
      margin: auto;
      width: 710px;
      width: fit-content;
      max-width: 95%;
      //transform: translateY(-50%);
      margin-top: -40vh;
      filter: blur(0);
    }
    
    &-body {
      padding: 15px;
    }
    
  }
  
  
}