﻿@model NoName.Domain.Location
<!DOCTYPE html>
<html>
<head>
    <title>Карта @Model.Name</title>
    <script type="text/javascript" src="@Links.Scripts.jquery_2_1_4_js"></script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"></script>
    <script type="text/javascript" src="@Links.Scripts.yandexMap_js"></script>
</head>
<body>
    <div id="@string.Format("yandexMap_{0}", Model.Id)" style="width:800px; height: 600px;">
    </div>
</body>
</html>
