﻿@using NoName.Domain
@model NoName.Web.Models.CardGalleryModel
@{
    var goods = Model.GoodsItem;
    var classes = Model.Classes;
}

<div class="@(goods.SalePrice.HasValue ? "card-gallery action " + classes : "card-gallery " + classes)">
    @if (goods.GoodsImages.Count > 1)
    {
        <span class="card-gallery-prev">Предыдущее</span>
        <!-- . active -->
        <span class="card-gallery-next">Следующее</span>
    }
    <div class="card-gallery-large">
        @for (var i = 1; i <= goods.GoodsImages.Count; i++)
        {
            ImageTrio image = goods.GoodsImages[i - 1];
            if (Request.Browser.IsMobileDevice)
            {
                <img src="@((image.LargeImage ?? image.Image).Src)" data-slide="@i" alt="@goods.FullName фото" title="Заказать @goods.FullName" itemprop="image"
                     class="@(i == 1 ? "card-gallery-large-selected" : null)" />
            }
            else
            {
                <a href="@((image.LargeImage ?? image.Image).Src)" rel="goods-image" data-slide="@i" class="@(i == 1 ? "card-gallery-large-selected" : null)">
                    <img src="@((image.LargeImage ?? image.Image).Src)" alt="@goods.FullName фото" title="Заказать @goods.FullName" itemprop="image" />
                </a>
            }
        }
    </div>
    @if (goods.GoodsImages.Count > 1)
    {
        <div class="card-gallery-thmbs">
            @for (var i = 1; i <= goods.GoodsImages.Count; i++)
            {
                var image = goods.GoodsImages[i - 1];
                <a href="@((image.LargeImage ?? image.Image).Src)" class="@(i == 1 ? "active" : null)" data-slide-prv="@i">
                    <img src="@image.SmallImage.Src" alt="@goods.FullName фото" title="Заказать @goods.FullName" />
                </a>
            }
        </div>
    }

</div>
