﻿@using NoName.Domain
@using NoName.Web.Models
@model NoName.Web.Models.GoodsItemPageModel
@{
    ViewBag.Title = @Model.Title ?? "Карточка товара :: www.unixmart.ru";
    ViewBag.Keywords = @Model.Keywords;
    ViewBag.PageDescription = @Model.PageDescription;
    ViewBag.PageClass = Model.PageClass;
    var goods = Model.GoodsItem;
    ViewBag.ShowPriceMeta = true;
    var cardGalleryTop = new CardGalleryModel();
    cardGalleryTop.GoodsItem = Model.GoodsItem;
    cardGalleryTop.Classes = "hidden-md hidden-lg";

    var cardGalleryBottom = new CardGalleryModel();
    cardGalleryBottom.GoodsItem = Model.GoodsItem;
    cardGalleryBottom.Classes = "hidden-xs hidden-sm";
}

<div class="breadcrumbs">
    @Html.Partial(MVC.Shared.Views.BreadCrumbs, Model.BreadCrumbs)
</div>

<div class="card" itemscope itemtype="http://schema.org/Product">
    <div class="row">
        <div class="col-md-6">
            <h1 itemprop="name">@goods.FullName</h1>
            <div class="card-article">Артикул: <span>@goods.PseudoID</span> </div>
            @Html.Partial(MVC.Goods.Views.CardGallery, cardGalleryTop)
            @if (Model.OnlinePayment && goods.OnlinePay)
            {
                <div class="card-payInfo hidden-xs hidden-sm">
                    <p>Этот товар можно оплатить<br /><span>наличными</span> или <span>банковской картой</span> на сайте!</p>
                    <img src="/Content/images/online-payment.png" alt="" />
                </div>
            }
            <div class="card-icon">
                @*<span class="card-icon-bars"></span>
                    <span class="card-icon-forward"></span>*@
            </div>

            @Html.Partial(MVC.Goods.Views.PriceBlock, new ShowPriceModel { Goods = goods, ShowMeta = true })

            @if (Model.OnlinePayment && goods.OnlinePay)
            {
                <div class="card-payInfo m hidden-md hidden-lg">
                    <p>Этот товар можно оплатить<br /><span>наличными</span> или <span>банковской картой</span> на сайте!</p>
                    <img src="/Content/images/online-payment.png" alt="" />
                </div>
            }

            @Html.Partial(MVC.Goods.Views.OrderPhone)

            <div class="card-tabs">
                <ul>
                    <li>
                        <a href="#delivery">
                            <img src="/Content/images/icon-car.png" />
                        </a>
                    </li>

                    @foreach (var article in Model.InfoList)
                    {
                        <li>
                            <a href="#@article.Title">
                                <img src="@article.Keywords" />
                            </a>
                        </li>
                    }
                </ul>
                @if (goods.InStock)
                {
                    <div class="card-tabs-container" id="delivery">
                        @foreach (var item in Model.DeliveryInfo.Items)
                        {
                            <p>
                                @item.Name: <span class="bold">@item.PriceString</span>
                            </p>
                        }
                    </div>
                }
                else
                {
                    <div class="card-tabs-container" id="delivery">
                        <p>
                            <span class="bold">Внимание! </span>В данный момент этого товара нет на складе
                        </p>
                    </div>
                }
                @foreach (var article in Model.InfoList)
                {
                    <div class="card-tabs-container" id="@article.Title">
                        @article.Body
                    </div>
                }
            </div>
            <section class="card-chars" itemprop="description">
                <h2>Характеристики</h2>

                <table>
                    <tr>
                        <td>
                            <h3>Производитель</h3>
                        </td>
                        <td class="bold">@goods.ManufacturerName</td>
                    </tr>
                    <tr>
                        <td>
                            <h3>Модель</h3>
                        </td>
                        <td class="bold">@goods.Model</td>
                    </tr>
                    @foreach (var param in goods.GoodsParams.Where(p => p.IsVisible))
                    {
                        <tr>
                            <td>
                                <h3>@param.ParamName</h3>
                            </td>
                            <td class="bold">@param.ValueAUnit</td>
                        </tr>
                    }
                </table>
            </section>
            @if (Model.OnlinePayment && goods.OnlinePay)
            {
                <div class="card-payInfo m hidden-md hidden-lg">
                    <p>Этот товар можно оплалатить<br /><span>наличными</span> или <span>кредитной картой</span> на сайте!</p>
                    <img src="../images/rur.png" alt="" />
                    <img src="../images/visa_mc.png" alt="" />
                </div>
            }

            @Html.Partial(MVC.Goods.Views.PriceBlock, new ShowPriceModel { Goods = goods, ShowMeta = false })

            @Html.Partial(MVC.Goods.Views.OrderPhoneBottom)

        </div>
        <div class="col-md-6">
            @Html.Partial(MVC.Goods.Views.CardGallery, cardGalleryBottom)
            @if (goods.Description != null && goods.Description.ToHtmlString().Length > 0)
            {
                <section class="card-text">
                    <h2>Описание</h2>

                    <p>@goods.Description</p>
                </section>
            }
            @if (goods.Docs != null && goods.Docs.Count > 0)
            {
                <section class="card-text">
                    <h2>Инструкции</h2>

                    @foreach (var item in goods.Docs)
                    {
                        <a href="@item.Src" target="_blank">
                            @if (item.MimeType.IndexOf("pdf", StringComparison.InvariantCultureIgnoreCase) != -1)
                            {
                                <img src="/Content/images/pdf.png" />
                            }
                            @item.Name
                        </a>
                        <br />
                    }
                </section>
            }

        </div>
    </div>
</div>

@if (goods.InStock)
{
    @Html.Partial(MVC.Goods.Views.Accessory, Model.Accessory)
}
@Html.Partial(MVC.Goods.Views.SameCharsBlock)

<section class="content-section">
    <div class="card-warn" id="warn">

    </div>

</section>


@section addFooterContent
{
    @Html.Action(MVC.Basket.BuyOneClick(Model.GoodsItem.OID.ToString()))
    @Html.Action(MVC.Basket.ReportAvailable())
}

@section scripts
{
    <script>
        showInfo(@goods.ObjectID);
    </script>
}