﻿@model NoName.Web.Models.GoodsItemPageModel
<div class="card-phone popup hidden-sm hidden-xs">
    <span>@Model.ShopPhone</span>
    <a href="#" class="card-phone-order popup-link" data-dropdown2="card_callback">Заказать звонок</a>
</div>