﻿@model NoName.Web.Models.ShowPriceModel
@{
    var item = Model.Goods;
}
@if (Model.ShowMeta)
{
    <div class="@(item.InStock ? "card-price" : "card-price absent")" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="price" content="@item.PriceRub" />
        <meta itemprop="priceCurrency" content="RUB" />
        @if (item.InStock)
        {
            <span class="card-price-exists">Есть в наличии</span>
            <span class="card-price-digits">@item.PriceString</span>
        }
        else
        {
            <span class="card-price-absent">Товар закончился</span>
        }
    </div>
}
else
{
    <div class="@(item.InStock ? "card-price" : "card-price absent")">
        @if (item.InStock)
        {
            <span class="card-price-exists">Есть в наличии</span>
            <span class="card-price-digits">@item.PriceString</span>
        }
        else
        {
            <span class="card-price-absent">Товар закончился</span>
        }
    </div>
}
@if (!item.InStock)
{
    <div class="card-buy">
        <div class="card-buy-action-link popup">
            <a href="#" class="goods-buy-link btn btn-apply popup-link" data-dropdown2="reportPopup" data-id="@item.ObjectID">Сообщить о поступлении</a>
        </div>
    </div>
}

<div class="card-buy">
    @if (item.InStock)
    {
        if (item.SalePrice.HasValue)
        {
            <div class="card-buy-action-link">
                <a href="#" class="goods-buy-link btn btn-apply popup-link" data-dropdown2="cartSale" data-id="@item.ObjectID">Купить по акции: @item.SalePriceString</a>
            </div>
            <div class="card-buy-link">
                <a href="#" class="goods-buy-link btn btn-apply popup-link" data-dropdown2="cartPopup" data-id="@item.ObjectID">Купить</a>
            </div>
            <div class="card-buy-link">
                <a class="btn btn-link popup-link" href="#oneClickBuy" data-dropdown2="oneClickBuy" data-id="@item.ObjectID">Купить в 1 клик</a>
            </div>
        }
        else
        {
            <div class="card-buy-link">
                <a href="#" class="goods-buy-link btn btn-apply popup-link" data-dropdown2="cartPopup" data-id="@item.ObjectID">Купить</a>
            </div>
            <div class="card-buy-link">
                <a class="btn btn-link popup-link" href="#oneClickBuy" data-dropdown2="oneClickBuy" data-id="@item.ObjectID">Купить в 1 клик</a>
            </div>

        }
    }
</div>


