﻿@model NoName.Web.Models.GoodsItemPageModel
@{
    var goods = Model.GoodsItem;
}
    Фирма-производитель оставляет за собой право на внесение изменений в конструкцию, дизайн и комплектацию приборов без предварительного уведомления. Вся информация на сайте носит справочный характер и не является публичной офертой.<br />
    @if (!string.IsNullOrEmpty(goods.ManufacturerURL))
    {
        @:Официальный сайт @goods.ManufacturerName: <a href="@goods.ManufacturerURL" target="_blank">@goods.ManufacturerURL</a>
    }