﻿@model IList<NoName.Web.Models.ManufacturerMenuModel>

<a href="@Url.Action(MVC.Home.Index())">Главная</a>
|
    @for (var i = 0; i < Model.Count - 1; i++)
    {
        var item = Model[i];
        <a href="@Url.Action(item.Action)">@item.Name</a>
        @: |
    }
<span>@Model[Model.Count - 1].Name</span>
