﻿@model IList<NoName.Domain.PromoBlock>
<div class="content">
    <div class="container">
        <div class="banners">
            <div class="banners-slider">
                @foreach (var item in Model)
                {
                    <div class="banners-slider-item">
                        <a href="@item.Url" class="col-xs-12">
                            <img src="@item.Image.Src" alt="@item.Header" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
