﻿@model IList<NoName.Domain.GoodsItem>

<div class="content-slider" data-slide-items="6" data-slide-items-xs="2" data-slide-items-sm="4">
    <div class="content-slider-wrapper">
        @foreach (var item in Model)
        {
            <article class="goods">
                <figure class="goods-image">
                    <a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">
                        <img src="@item.Image.Src" alt="@item.FullName фото" title="Заказать @item.FullName"/>
                    </a>
                </figure>
                <h3><a href="@Url.Action(MVC.Goods.Index(item.ItemUrl, item.ObjectID))">@item.FullName</a></h3>
                <div class="goods-price">@item.PriceString</div>
                <div class="popup" data-remote="true" data-target="#cartPopup" data-pos="above" data-id="@item.ObjectID">
                    <a href="#" class="goods-buy-link btn btn-apply popup-link">Купить</a>
                </div>
            </article>
        }
    </div>
</div>
