﻿@model NoName.Web.Models.CustomFilterMenuItem
@Html.HiddenFor(m => m.OrdValue)
@Html.HiddenFor(m => m.Name)
@Html.HiddenFor(m => m.ItemsCount)
<label class="charsList-group-container-item">
    @Html.CheckBoxFor(m => m.Selected)
    <span>@Model.Name <span class="charsList-group-container-item-num">@Model.ItemsCount</span></span>
</label>