﻿@model NoName.Web.Models.ManufacturerModel
@Html.HiddenFor(m => m.OID)
@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Name)
@Html.HiddenFor(m => m.ShortLink)
@Html.HiddenFor(m => m.GoodsCount)
<label class="charsList-group-container-item">
    @Html.CheckBoxFor(m => m.Selected)
    <span>@Model.Name <span class="charsList-group-container-item-num">@Model.GoodsCount</span></span>
</label>
