﻿@model NoName.Web.Models.ManufacturerMenuModel
@Html.HiddenFor(m => m.OID)
@Html.HiddenFor(m => m.ManufId)
@Html.HiddenFor(m => m.Name)
@Html.HiddenFor(m => m.GoodsCount)
<label class="charsList-group-container-item">
    @Html.CheckBoxFor(m => m.Checked)
    <span>@Model.Name <span class="charsList-group-container-item-num">@Model.GoodsCount</span></span>
</label>
