﻿@model NoName.Web.Models.CatalogFilterModel
@Html.HiddenFor(m => m.ItemId)
@Html.HiddenFor(m => m.ManufId)
@Html.HiddenFor(m => m.CatalogID)
@Html.HiddenFor(m => m.CompanyOID)
@Html.HiddenFor(m => m.ParentNodeId)
@Html.HiddenFor(m => m.Page)
@Html.HiddenFor(m => m.NumOnPage)
@Html.HiddenFor(m => m.TypeSort)
@Html.HiddenFor(m => m.LandingPage)
@Html.HiddenFor(m => m.WithSameLevel)
<div class="charsList-group charsList-group-open">
    <span class="charsList-group-title">Производитель:</span>
    <div class="charsList-group-container">
        @Html.EditorFor(m => m.Manufs)
    </div>
</div>
@Html.EditorFor(m => m.CustomFilters)
