﻿@model NoName.Web.Models.CustomFilterMenuModel
@Html.HiddenFor(m => m.ParamType)
@Html.HiddenFor(m => m.Name)
<div class="@(Model.CustomFilters.Any(i => i.Checked) ? "charsList-group charsList-group-open" : "charsList-group")">
    <span class="charsList-group-title">@Model.Name:</span>
    <div class="charsList-group-container">
        @Html.EditorFor(m => m.CustomFilters)
    </div>
</div>