﻿@model NoName.Web.Models.OrderViewModel
@{
    ViewBag.Title = "Доставка :: www.unixmart.ru";
    ViewBag.PageClass = "home category-01";
}

@using (Html.BeginForm(MVC.Order.Index(), FormMethod.Post, new { @class = "cart2" }))
{
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.NeedCityInOrder)
    @Html.HiddenFor(m => m.ShowAddress)
    <div class="h1">Оформление заказа</div>
    if (Model.ShowAddress)
    {
        <div class="cart2-group cart2-group-blue">
            <div class="h2">Адрес доставки</div>
            <div class="cart2-group-container">
                @if (Model.NeedCityInOrder)
                {
                    <label class="col-xs-12">
                        <span>Город <span class="required">*</span></span>
                        @Html.TextBoxFor(m => m.City)
                    </label>
                }
                <label class="col-xs-12">
                    <span>Улица <span class="required">*</span></span>
                    @Html.TextBoxFor(m => m.StreetName)
                </label>
                <label class="col-xs-6">
                    <span>Дом <span class="reuired">*</span></span>
                    @Html.TextBoxFor(m => m.House)
                </label>
                <label class="col-xs-6">
                    <span>Квартира <span class="required">*</span></span>
                    @Html.TextBoxFor(m => m.Flat)
                </label>
                @*                <p class="text-center">
                        <a href="#">
                            <img src="images/yandex-profile.png" alt="Адрес из профиля Yandex"/></a>
                    </p>*@
            </div>
        </div>
    }

    <div class="cart2-group cart2-group-orange">
        <div class="h2">Заказчик</div>
        <div class="cart2-group-container">
            <label class="col-xs-12">
                <span>Контактное лицо <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Name)
            </label>
            <label class="col-xs-12">
                <span>Контактный телефон <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Phone, new { @class = "mask-phone" })
            </label>
            <label class="col-xs-12">
                <span>E-mail <span class="required">*</span></span>
                @Html.TextBoxFor(m => m.Email)
            </label>
        </div>
    </div>
    <div class="cart2-group cart2-group-yellow">
        <div class="h2">Комментарии</div>
        <div class="cart2-group-container">
            <label class="col-xs-12">
                <span>Комментарии</span>
                @Html.TextAreaFor(m => m.Comments)
            </label>
        </div>
    </div>

    <label class="cart2-agree">
        @Html.CheckBoxFor(m => m.OfertaAccept)
        <span>
            Нажимая кнопку "Отправить на выполнение", я подтверждаю свою дееспособность. Даю согласие на получение рассылки рекламно-информационного характера и на обработку своих персональных данных в целях продвижения товаров и услуг.
        </span>
    </label>

    <button type="submit" class="btn btn-apply">Отправить заказ</button>
}

