.abc {
  padding: 10px 0;
  
  ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0;
    color: @gray-dark;
    
    li {
      margin-bottom: 35px;
      padding-right: @padding-base;
      
      span {
        .f-hv-b;
        .font-size(28);
        @media (min-width: @screen-md) {
          display: block;
        }
        @media (max-width: @screen-sm-max) {
          float: left;
          margin: 0 15px 0 0;
        }
      }
      a {
        .f-hv-l;
        color: @gray-dark;
        @media (max-width: @screen-sm-max) {
          .font-size(16);
        }
      }
    }
    
  }
  
  @media (max-width: @screen-sm-max) {
     
    @borderHere: #bbb;
  
    .column {
      float: none !important;
      width: 100% !important;
    }
    .columns {
      height: 480px;
      overflow: scroll;
      border-top: 1px @borderHere solid;
      border-bottom: 1px @borderHere solid;
      
      &:before {
        content: "";
        display: block;
        height: 8px;
        margin: 7px 0 15px;
        border-top: 1px @borderHere solid;
        border-bottom: 1px @borderHere solid;
      }
      &:after {
        content: "";
        display: block;
        margin: 15px 0 7px;
        height: 8px;
        border-top: 1px @borderHere solid;
        border-bottom: 1px @borderHere solid;
      }
      
      
    }
  }
  
}