.charsList {
  display: none;
  background: @gray-dark; 
  color: @white;
  .font-size(12);
  padding: 10px 0 30px 28px;

  .category-00 & {
    background: @gray-light;
    color: @gray-dark;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0 30px 30px -30px rgba(0,0,0,0.3) inset, 0 -30px 30px -30px rgba(0,0,0,0.3) inset;
  }
  
  
  &-group {
  
    &-title {
      display: block;
      border-bottom: 1px #515a61 solid;
      padding: 20px 40px 5px 0;
      letter-spacing: 1px;
      position: relative;
      cursor: pointer;
      line-height: 120%;
      
      .category-00 & {
        .f-hv-b;
        .font-size(13);
        border-bottom-color: #ccc;
        box-shadow: -@padding-base 0 0 0 #f4e699 inset;
      }
      
      &:before {
        content: "";
        border-top: #6b7880 6px solid;
        border-left: rgba(0,0,0,0) 6px solid;
        border-right: rgba(0,0,0,0) 6px solid;
        position: absolute;
        right: 13px;
        bottom: 8px;
        transition: border-width 0.3s ease;
        
        .category-00 & {
          border-top-color: @white;
        }
        
        .category-00 & {
          right: 4px;
        }
        
      }
      
    }
    &-open &-title {
      &:before {
        border-top-width: 0;
        border-bottom: @green 6px solid;
        border-left: rgba(0,0,0,0) 6px solid;
        border-right: rgba(0,0,0,0) 6px solid;
        
        .category-00 & {
          border-bottom-color: @gray;
        }
      }
    }
    &-container {
      max-height: 0;
      overflow: hidden;
      
      .category-00 & {
        box-shadow: -@padding-base 0 0 0 #f4e699 inset;
      }
      
      &-item {
        display: block;
        padding: 0;
        
        input[type="checkbox"],
        input[type="radio"] {
          float: left;
          margin: 3px 12px 3px 0;
        }
        
        &-num {
          display: inline-block;
          border-left: 1px #ffffff solid;
          padding: 0 6px;
          margin: 0 6px;
          line-height: 11px;
          vertical-align: middle;
          
          .category-00 & {
            border-color: @gray-dark;
          }
          
        }
        &:first-child {
          margin-top: 10px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
    &-open &-container {
      max-height: 1000px;
      transition: max-height 0.5s linear;
    }
    
    .category-00 &-open:last-child &-container {
        padding-bottom: 20px;        
    }
    .category-00 &:last-child &-title {
        padding-bottom: 20px;
        
        &:before {
          bottom: 20px;
        }
    }
    
  }
  
}
.catListSub-selected {
  .category-articles & {
    background: @gray-light;
  }
  
  
  > .charsList {
    display: block;
  }
}