html {
  font-size: 87.5%;
}
body {
  background: @gray-light; /* url("../images/body_background.jpg"); */
  .f-hv;
  font-size: 100%;
  color: @gray-dark;
}
* {
  -moz-box-sizing: content-box;
  box-sizing: border-box;
  outline: none;
}

.content-cols {
  .clearfix();
  
  &-aside {
    padding-left: 0;
    
    @media (min-width: @screen-md) {
      padding-right: @padding-base;
    }
    @media (max-width: @screen-sm-max) {
      float: none !important;
      clear: both;
      padding: 30px 0;
    }
    
  }  
  
  &-main {
    @media (max-width: @screen-sm-max) {
      padding-top: 15px;
      float: none !important;
      
      .banner {
        margin-bottom: 30px;
      }
      
    }
  }
}

img {
  max-width: 100%;
}

.columns {
  .clearfix();
  @media (min-width: @screen-md) {
    margin: 0 -@padding-base/2;
  }
  
  .column {
    @media (min-width: @screen-md) {
      .pull-left;
      padding: 0 @padding-base/2;
    }
    @media (max-width: @screen-sm-max) {
      float: none !important;
      width: auto !important;
    }
  }
}


@media (max-width: @screen-sm-max) {
  .fancybox-overlay {
    display: none !important;
  }
  html.fancybox-lock {
    overflow: auto !important;
    width: 100%;
  } 
  html.fancybox-lock body {
    overflow: auto !important;
  }
}