.catalogContent {

  padding-top: 0;

  .banner + & {
    padding: 30px 0;
  }
  

  margin: 0 -@padding-base/2;
  
  @media (min-width: @screen-md) {
    letter-spacing: -0.4em;
  }
  
  &-item {
    position: relative;
    vertical-align: top;
    padding: @padding-base/2;
    margin-bottom: @padding-base/2;
    @media (min-width: @screen-md) {
      letter-spacing: 0;
      display: inline-block;
      .col-xs-4;
      float: none;
    }
    
    a {
      display: block;
      
      &:hover {
        text-decoration: none;
        
        &:hover {
          h3{
            background: darken(@gray-light,5%);
          }
        }
      }

    }
    
    &-image {
      @media (min-width: @screen-md) {
        height: 150px;
      }
      text-align: center;
      
      img {
        @media (min-width: @screen-md) {
          width: 285px;
          max-height: 100%;
        }
        @media (max-width: @screen-sm-max) {
          max-height: 200px;
          width: auto;
        }
      }
    }
    
    &-num {
      float: right;
      width: 76px;
      height: 38px;
      margin-top: -36px;
      color: @white;
      padding: 16px 0 0 16px;
      .font-size(16);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      
      position: absolute;
      top: 158px;
      right: 6px;

      .category-01 & {
        background-image: url("../images/catalogContent-01.png");
      }
      .category-02 & {
        background-image: url("../images/catalogContent-02.png");
      }
      .category-03 & {
        background-image: url("../images/catalogContent-03.png");
      }
      .category-04 & {
        background-image: url("../images/catalogContent-04.png");
      }
      .category-05 & {
        background-image: url("../images/catalogContent-05.png");
      }
      .category-06 & {
        background-image: url("../images/catalogContent-06.png");
      }
      .category-07 & {
        background-image: url("../images/catalogContent-07.png");
      }
    }
    
    h3 {
      font-weight: normal;
      background: @gray-light;
      color: @gray-dark;
      display: block;
      padding: 7px 10px;
      margin-top: 0 !important;
      
      @media (max-width: @screen-sm-max) {
        margin: 0;
      }
      @media (min-width: @screen-md) {
        min-height: 52px;
        margin: 10px 0 0;
      }
    }
  }
  
    &-tags {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 20px;
    margin-bottom: 10px;

    &-title {
      float: left;
      width: 87px;
    }

    &-wrapper {
      overflow: hidden;

      & > a {
        margin: 0 5px;
        display: inline;
        vertical-align: middle;
        color: #253139 !important;
      }
    }
  }
}