.footerNav {
  background: #d9d8d5;
  padding: @padding-base 0;
  position: relative;
  
  .container {
    .clearfix();
  }
  
  &-logo,
  &-links {
    @media (min-width: @screen-md) {
      .col-xs-2;
      .pull-left;
    }
    @media (max-width: @screen-sm-max) {
    }
  }
  
  &-logo {
    a:hover {
      text-decoration: none;
    }
    span {
      .font-size(10);
      color: @gray-lighter;
      display: block;
      padding-left: 12px;
    }
  }
  
  &-links {
    color: @blue;
    @media (max-width: @screen-sm-max) {
      padding-top: 30px;
    }
    
    img {
      max-width: 100%;
    }
    
    section {
      margin: 20px 0;
    }
    
    h3 {
      text-transform: uppercase;
      .f-hv-b;
      letter-spacing: 2px;
      margin: 10px 0;
      @media (min-width: @screen-md) {
        .font-size(18);
      }
      @media (max-width: @screen-sm-max) {
        .font-size(26);
      }
    }
    p {
      .font-size(11);
    }
    
    .social {
      margin: 20px 0 30px; 
      
      h3 {     
        @media (max-width: @screen-sm-max) {
          .font-size(18);
        }
      }
      
      &-item {
        display: inline-block;
        font-size: 22px;
        color: @gray;
        border:2px @gray solid;
        border-radius: 21px;
        width: 42px;
        height: 42px;
        line-height: 42px;
        margin-right: 5px;
        text-align: center;
        
        .fontello {
        }
        
        /* below is depricated */
        /*
        width: 22px;
        height: 22px;
        background: url("../images/icons-social.png") no-repeat 0 0;
        text-indent: -9999px;
        
        &-fb { background-position: 0 0; }
        &-tw { background-position: -26px 0; }
        &-vk { background-position: -78px 0; }
        &-ok { background-position: -52px 0; }
        &-yb { background-position: -104px 0; }
        */
        
      }
    }
    
  }
  
  nav {
    @media (min-width: @screen-md) {
      .col-xs-8;
      .pull-left;
    }
    @media (max-width: @screen-sm-max) {
      clear: both;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      @media (max-width: @screen-sm-max) {
        .font-size(16);
        font-weight: normal;
      }
      
      &.columns {
        padding-top: 20px;
      }
      .column {
        padding-right: 30px;
        
        @media (max-width: @screen-sm-max) {
          width: 100% !important;
          padding: 0;
          
          ul {
            display: none;
          }
          
        }
      }
      
      a {
        color: @gray-dark;
      }
      
      li.dontsplit {
        @media (min-width: @screen-md) {
          padding-bottom: 30px;
        }
        @media (max-width: @screen-sm-max) {
          padding-bottom: 10px;
        }
        
        > a {
          .f-hv-med;
        }
        > ul {
          .font-size(11);
          margin: 10px 0 0;
          
          > li {
            margin: 7px 0;
          }
        }
      } 
      
    }
    
  }
  
  &-2top {
    position: absolute;
    right: @padding-base;
    bottom: @padding-base;
    width: 41px;
    height: 43px;
    .font-size(10);
    text-align: center;
    color: @white !important;
    background: #33cccc;
    text-transform: lowercase;
    
    &:before {
      content: "";
      display: block;
      background: @spline no-repeat 0 -689px;
      margin: 8px auto;
      height: 12px;
      width: 20px;
    }
  }
}