.formPupup {

  display: inline-block;

  @formFieldHeight: 36px;

  .h3 {
    .font-size(30);
  }

  .popup-container {
    top: 60px;
    width: 280px;
    box-shadow: 0 0 (@padding-base)*2 rgba(0,0,0,0.3);
    left: 0;
   
    
    &-body {
      padding: @padding-base;
      text-align: center;
    }
  }
  
  .form {
    &-group {
      padding: (@padding-base)/2 0 0;
      
      > .btn-apply {
        display: block;
        width: 100%;
        .font-size(18);
      }
      
      .field-text {
        display: block;
        position: relative;
        //background: @gray-form;
        //.font-size(12);
    
        a {
          position: absolute;
          right: 7px;
          top: 0;
          line-height: @formFieldHeight;
          color: @gray-light;
        }
        
        input[type=text],
        input[type=phone],
        input[type=password],
        textarea {
          display: block;
          width: 100%;
          background: none;
          //border-width: 0;
          padding: 0 7px;
          border-width: 1px;
          border-color: @gray;
          
          //.placeholder(#ffffff);
          
        }
        textarea {
          padding-top: 7px;
          padding-bottom: 7px;
          height: 60px;
        }
        input[type=text],
        input[type=phone],
        input[type=password] {
          height: @formFieldHeight;
        }
      }
      .field-checkbox {
        text-align: left;
        display: block;
        
        input[type=checkbox] {
          margin-top: 2px;
          margin-right: 10px;
          display: inline-block;
          vertical-align: top;
        }
        span {
          display: inline-block;
          vertical-align: top;
        }
      }
    }
  
    .btn-apply {
      .font-size(20);
      line-height: 34px;
      .f-hv-l;
      padding: 0 23px;
      margin: @padding-base/2 0;
    }

    &-additional {
      border-top: 1px @gray-form dashed;
      margin: @padding-base/2 0;
      
      &-authLinks {
        padding: 10px 0 20px;
        
        &-item {
          margin: 0;
          display: inline-block;
          width: 22px;
          height: 22px;
          background-image: @spline;
          background-repeat: no-repeat;
          text-indent: -9999px;
          
          &-fb {
            background-position: 0 -255px;
          }
          &-ok {
            background-position: 0 -280px;
          }
          &-vk {
            background-position: 0 -305px;
          }
          
        }
      }
      
    }
    
  }
  
  .regLink {
    background: @gray-light;
    text-align: center;
    margin: 0 -@padding-base -@padding-base;
    padding: @padding-base 0;
    
    &-link {
      .font-size(24);
      .f-hv-l;
      color: @gray !important;
      text-decoration: underline;
    }
    
  }
  
  
}