.goods {
  
  @media (min-width: @screen-sm) {
    .col-xs-2;
    float: none !important;    
  }
  @media (max-width: @screen-xs-max) {
    //width: 47vw !important;
  }
  display: inline-block;
  vertical-align: top;
  padding: @padding-base/2 @padding-base/2 40px;
  letter-spacing: 0;
  text-align: center;
  
  .goods-image {
    margin: 0;
    padding: 0;
    @media (min-width: @screen-md) {
      height: 150px;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  h3 {
    font-weight: normal;
    .font-size(14);
    @media (min-width: @screen-md) {
      min-height: 68px;
    }
   
    a {
      color: @gray-dark !important;
    }
  }
  
  
  &-price {
    .font-size(20);
    .f-hv-med;
    margin-bottom: 11px;
  }
  &-buy {
    &-link {
      .f-hv-l;
      .font-size(20);
       color: @white !important;
      line-height: 32px;
      padding: 0 15px;
    }
    
    &-container {
      padding: 0 30px;
      background-image: url("../images/goods-buy-background.png");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: auto 56px;
      white-space: nowrap;
      //color: @white;

      &-title {
        .f-hv-l;
        .font-size(30);
        line-height: 56px;
        padding-left: 40px;
        @media (max-width: 768px) {
          .font-size(18);
          font-weight: 700;
        }
      }
      &-info {
        .f-hv-l;
        //color: @white;
        line-height: 35px;
      }
      
      .goods {
        display: block;
        width: 100%;
        padding: 30px 0 0;
        
        &-image {
          float: left;
          width: 70px;
          height: auto;
          img {
            display: block;
          }
        }
        &-text {
          overflow: hidden;
          padding: 0 15px;
          text-align: left;
          //color: white;
          h3 {
            min-height: 0;
            margin: 0 0 15px;
            font-size: 18px;
            white-space: normal;
            //color: white;
          }
        }
        &-info {
          clear: both;
          overflow: hidden;
          padding: 30px 0 15px;
          border-bottom: 2px @gray-lighter solid;

          &-quantity {
            float: left;
            .btn-default {
              border-color: @gray-dark;
              border-width: 1px;
            }
            input {
              background: white !important;
            }
          }
          &-price {
            float: right;
            font-size: 18px;
            font-weight: 700;
          }
          
          [type='text'] {
            width: 40px;
          }
        }
        
      }
      
      &-form {
        &-cart {
          padding: 15px 0;
          font-size: 18px;
          border-bottom: 1px @gray-lighter solid;
          
          &-total {
            font-size: 22px;
            font-weight: 700;
            float: right;
            
            @media (max-width: 768px) {
              float: none;
              display: block;
              margin-top: 10px;
            }
            /*
            &:after {
              content: "₽";
            }
            */
          }
        }
        &-action {
          padding: 15px 0;
          .btn {
            display: block;
            width: 100%;
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
            &-apply {
              color: @white !important;
            }
            &-secondary {
              //border: 1px @gray-darker solid;
              color: @gray-darker !important;
            }
            font-size: 18px;
          }
        }
      }
      
    }
    
    
  }
  
}