@screen-xs: 500px;
@screen-sm: 768px;
@screen-md: 980px;
@screen-lg: 1200px;
@screen-xs-max: ((@screen-sm)-1);
@screen-sm-max: ((@screen-md)-1);
@screen-md-max: ((@screen-lg)-1);

.col-xs-1 {
  width: 100%/12;
}