@import "catList.less";
@import "range.less";

.catListSub {
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  > ul {
    > li {
    
      border-top: 1px fadeout(@gray,60%) solid;
      border-left: 1px fadeout(@gray,60%) solid;
      border-right: 1px fadeout(@gray,60%) solid;
      
      .category-00 & {
        border-color: #ccc;
      }

      &:last-child {
        border-bottom: 1px fadeout(@gray,60%) solid;
      }
      
      > a {
        display: block;
        padding: 15px;
        position: relative;
        letter-spacing: 1px;
        color: @black;
        text-decoration: none;
        
        .category-00 &  {
          border-right: @padding-base @categoryColor-00 solid;
        }
        .category-01 &  {
          border-right: @padding-base @categoryColor-01 solid;
        }
        .category-02 &  {
          border-right: @padding-base @categoryColor-02 solid;
        }
        .category-03 & {
          border-right: @padding-base @categoryColor-03 solid;
        }
        .category-04 & {
          border-right: @padding-base @categoryColor-04 solid;
        }
        .category-05 & {
          border-right: @padding-base @categoryColor-05 solid;
        }
        .category-06 & {
          border-right: @padding-base @categoryColor-06 solid;
        }
        .category-07 & {
          border-right: @padding-base @categoryColor-07 solid;
        }
        
        &:after {
          content: "";
          position: absolute;
          right: -@padding-base/1.4;
          margin-top: -(@padding-base/2.5);
          top: 50%;
          border-left: @padding-base/2.5 @white solid;
          border-top: @padding-base/2.5 rgba(0,0,0,0) solid;
          border-bottom: @padding-base/2.5 rgba(0,0,0,0) solid;
          transition: transform 0.2s ease;
        }
     
      }
      
      &:hover,
      &:hover > a,
      &.catListSub-selected,
      &.catListSub-selected > a {
        border-color: @gray-dark;
      }
      &:hover + li,
      &.catListSub-selected + li {
        border-top-color: @gray-dark;
      }
      
      .category-00 &:hover,
      .category-00 &:hover > a,
      .category-00 &.catListSub-selected {
        border-color: #ccc;
      }
      .category-00 &.catListSub-selected > a {
        border-color: @yellow;
      }
      .category-00 &:hover + li,
      .category-00 &.catListSub-selected + li {
        border-top-color: #ccc;
      }
      
      &.catListSub-selected > a {
        &:after {
          transform: rotate(90deg);
        }
      }
      
      > ul {
        display: none;
        padding-left: @padding-base*1.5;
        background: @gray-dark;
      }
      &.catListSub-selected > ul {
        display: block;
        
        li {
          padding: @padding-base/2 0;
          border-bottom: 1px fadeout(@gray-light,60%) solid;
          .font-size(12);
          letter-spacing: 1px;
          
          &:last-child {
            border-bottom-width: 0;
          }
          
          a {
            color: @white;
            text-decoration: none;
           
            &:hover {
              text-decoration: none;

              span {
                text-decoration: underline;
              }
            }
          }
        }
        
        
      }
      
    }
    
  }
}
        

.asideLinks {
  .catListSub + & {
    @media (max-width: @screen-sm-max) {
      display: none;
    }
  }
  &-item {
    .font-size(18);
    float: left;
    clear: left;
    .clearfix();
    margin: 10px 0;
    padding: 10px 20px 0 0;
    color: @gray-dark !important;
    
    &:hover {
      color: @gray-dark;
    }

    img {
      float: left;
      margin: -10px 10px 0 0;
    }
  }
}