.range {
  &-full {
    border: 1px #727a7f solid;
    height: 17px;
    width: 210px;
    margin: 26px 0 10px;

    
    .noUi-base {
      height: 100%;
      position: relative;
      width: 100%;
      cursor: pointer;
    }
    
    .noUi-origin.noUi-connect {
      background: @green;
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      
      .category-00 & {
        background: @yellow;
      }
    }
    
    
    .noUi-origin.noUi-background {
      background: @gray-dark;
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      
      .category-00 & {
        background: @gray-light;
      }
      
    }
    
    .noUi-handle.noUi-handle-lower, .noUi-handle.noUi-handle-upper {
      background: @spline no-repeat -1px -628px;
      cursor: pointer;
      height: 9px;
      width: 9px;
      position: absolute;
      left: -5px;
      top: -15px;
}
  }
}