.bx-pager {
  @media (max-width: @screen-md) {
    display: none;
  }
  
  @media (max-width: @screen-xs-max) {  
    background: @gray-light;
    margin: 0 -@grid-gutter-width/2;
    padding: 10px @grid-gutter-width/2;
    text-align: center;
  }
}

.bx-pager-item {
  display: inline-block;        
}
.bx-pager-link {
  display: block;
  width: 20px;
  height: 21px;
  line-height: 21px;
  .f-hv-l;
  color: darken(@gray, 7.7%);
  text-decoration: none;
  text-align: center;
  
  @media (min-width: @screen-sm-max) {
    
  }
  
  @media (max-width: @screen-xs-max) {
    .font-size(32);
    line-height: 54px;
    margin: 0 8px;
  }
  
  &.active {
    color: @white;
    
    @media (min-width: @screen-sm) {
      background: @spline no-repeat 0 -128px;
    }
    
    @media (max-width: @screen-xs-max) {
      width: 48px;
      height: 54px;
      background: @spline no-repeat -22px -116px;
    }
    
  }
  &:hover {
    text-decoration: none;
  }
}

.bx-controls {
  @media (min-width: @screen-md) {
    &-direction {
      display: none;
    }
  }
  .bx-prev,
  .bx-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 56px;
    background-image: url(../images/spline.png);
    background-repeat: no-repeat;
    cursor: pointer;
    text-indent: -9999px;
    font-size: 0;
    color: rgba(0,0,0,0);
  }
  .bx-prev {
    @media (min-width: @screen-sm) {
      left: -20px;
    }
    @media (max-width: @screen-sm) {
      left: 20px;
    }
    @media (max-width: @screen-xs) {
      left: 0px;
    }
    background-position: 0 -455px;
  }
  .bx-next {
    @media (min-width: @screen-sm) {
      right: -20px;
    }
    @media (max-width: @screen-sm) {
      right: 20px;
    }
    @media (max-width: @screen-xs) {
      right: 0px;
    }
    background-position: -41px -455px;
  }
}