.banners {
/*
    margin: 0 -10px;
    max-height: 205px; 
  */  
    &-slider {
    
      //height: 184px;
      //overflow: hidden;
      
      &-item {
        letter-spacing: -0.4em;
      
        a {
          display: inline-block;
          vertical-align: top;
          letter-spacing: 0;
          padding: 10px;
        
          img {
            width: 100%;
          }
        }
      }
    }
    .bx-controls {
      text-align: center;
    }
  }