.goods {
  
  @media (min-width: @screen-sm) {
    .col-xs-2;
    float: none !important;    
  }
  @media (max-width: @screen-xs-max) {
    //width: 47vw !important;
  }
  display: inline-block;
  vertical-align: top;
  padding: @padding-base/2 @padding-base/2 40px;
  letter-spacing: 0;
  text-align: center;
  
  .goods-image {
    margin: 0;
    padding: 0;
    @media (min-width: @screen-md) {
      height: 150px;
    }
    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  
  h3 {
    font-weight: normal;
    .font-size(14);
    @media (min-width: @screen-md) {
      min-height: 68px;
    }
   
    a {
      color: @gray-dark !important;
    }
  }
  
  
  &-price {
    .font-size(20);
    .f-hv-med;
    margin-bottom: 11px;
  }
  &-buy {
    &-link {
      .f-hv-l;
      .font-size(20);
       color: @white !important;
      line-height: 32px;
      padding: 0 15px;
    }
    
    &-container {
      padding: 0 30px 0 100px;
      background-image: url("../images/goods-buy-background.png");
      background-repeat: no-repeat;
      background-position: left top;
      white-space: nowrap;
      color: @white;

      &-title {
        .f-hv-l;
        .font-size(30);
        line-height: 56px;
      }
      &-info {
        .f-hv-l;
        color: @white;
        line-height: 35px;
      }
    }
    
    
  }
  
}