.header {
  .clearfix();

  .container {
    .clearfix();
    position: relative;
  }
  
  @media (min-width: @screen-md) {
    background: white;
  }
  @media (max-width: @screen-sm-max) {
    border-top: 17px solid @olive;
    background: @gray-background;
    > .container {
      padding-top: 17px;
      margin-top: -17px;
    }
  }
  
  &-logo {
    padding-top: 16px;
    @media (min-width: @screen-md) {
      float: left;
      width: 35%;
      @media (min-width: @screen-lg) {
        width: 30%;
      }
    }
    @media (max-width: @screen-sm-max) {
      float: left;
      width: 75%;
    }
    .clearfix();
    
    a {
      &:hover {
        text-decoration: none;
      }
    }
  
    span {
      .font-size(14);
      color: #df005b;
      text-align: right;
      width: 120px;
      margin-left: -122px;
      line-height: 1;
    }
    span,
    img {
      float: left;
    }
    img {
      margin-left: -16px;
      margin-bottom: -5px;
      position: relative;
      z-index: 1;
      max-width: 100%;
    }
  }
  
  
  &-contacts {
    @media (min-width: @screen-md) {
      float: left;
      width: 30%;
      @media (min-width: @screen-lg) {
        width: 25%;
      }
    }
    @media (max-width: @screen-sm-max) {
      float: left;
      width: 100%;
      position: relative;
    }
    
    &-phone {
      .pull-left;
    
      @media (min-width: @screen-md) {
        padding: 5px 0 0;
      }
      @media (max-width: @screen-sm-max) {
        padding-top: 15px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.1;
        
        > span {
          white-space: nowrap;  
          @media (min-width: 401px) {
            .font-size(35);
          }
          @media (max-width: 400px) {
            .font-size(24);  
          }

        }
        > a {
          margin: 5px 0 15px;
          float: left;
          &:before {
            content: "";
            display: inline-block;
            background: @spline 0 0 no-repeat;
            width: 18px;
            height: 9px;
            margin-right: 5px;
            .f-hv-b;
          }
        }
      }
    
      &-value {
        display: block;
        letter-spacing: 1px;
        .font-size(24);
      }
      a {
        .font-size(13);
      }
    }
    
    &-select {
      
      @media (min-width: @screen-md) {
        float: left;
        clear: left;
        margin: 15px 0 5px; 
        float: left;
        clear: left;
        margin: 15px 0 5px; 
        position: relative;
      }
      @media (max-width: @screen-sm-max) {
        position: absolute;
        right: 0;
        bottom: 15px;
      }
      
      &-selected {
        padding-top: 5px;
        .font-size(18);
        line-height: 22px;
        display: inline-block;
        
        &:after {
          content: "";
          .pull-right;
          background: @spline no-repeat 0 7px;
          width: 20px;
          height: 22px;
          margin-left: 6px;
        }
      }
      
      &-popup {
        @media (min-width: @screen-md) {
          min-width: 200px;
          right: 0;          
        }
        @media (max-width: @screen-sm-max) {
          right: 15px;
        }
        padding: 10px 0;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          
          a {
            display: block;
            color: white;
            .font-size(16);
            padding: 5px 20px;
            &:hover {
              background: #666;
            }
          }
          
        }
      }
      
    }
    
  } // -contacts
    
  &-service {
  
    @media (max-width: @screen-sm-max) {
      position: absolute;
      right: 0;
      top: 34px;
    }
    @media (min-width: @screen-md) {
      float: left;
      .font-size(12);
      @media (max-width: @screen-md-max) {
        padding: 10px 0 0 15px;
        margin: 0 -5px;
        .clearfix();
        a {
          padding: 0 0 3px 0;
          float: left;
          clear: left;
        }
      }
      @media (min-width: @screen-lg-min) { 
        width: 45%;
        padding-top: 40px;
        a { 
          text-align: right;
          display: inline-block;
        }
      }
    }
    
    
    
    a {
      color: @gray-dark !important;
    }
    
    
    &-link {
      .font-size(10);
      border-left: @gray-dark 1px solid;
      padding: 0 5px 0 3px;
      cursor: pointer;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 8px;
        height: 17px;
        background: @spline 0 (-165px) no-repeat;
        transform: rotate(90deg);
        position: absolute;
        top: 100%;
        left: 3px;
      }
      
      a, span {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        text-decoration: none !important;
        color: @gray-dark !important;
      }
      
      @media (min-width: @screen-md) {
        display: none;
      }
      
    }
    
    &-list {
      @media (max-width: @screen-sm-max) {
        display: none;
        position: absolute;
        right: 100%;
        top: 100%;
        z-index: 100;
        transform: translate(45px,-5px);
        
        @media (max-width: 360px) {
          transform: translate(82px,-5px);
        }
        
        padding: 10px 0;
        
        width: 300px;
        border: 4px @olive solid;
        background: white;

        &:before {
          content: "";
          display: block;
          width: 8px;
          height: 17px;
          background: @spline 0 (-165px) no-repeat;
          position: absolute;
          transform: rotate(-90deg);
          top: 2px;
          right: 30px;
        }

        @media (max-width: 360px) {
          &:before {
            right: 67px;
          }
        }
        
        &.opened {
          display: block;
        }
        
        > a {
          display: block;
          clear: both;
          padding: 10px 30px;
          .font-size(16);
          
          .icon {
            margin-right: 15px;
          }
          
          &:hover,
          &:active,
          &:focus {
            background: #d3d6d8;
            text-decoration: none;
          }
        }
        
        
      }
      @media (min-width: @screen-md){
        .icon {
          display: none;
        }
      }
      @media (min-width: @screen-lg) {
        > a {
          &:after {
            content: "|";
            display: inline-block;
            margin-left: 5px;
          }
          &:last-child:after {
            display: none;
          }
        }
      }
    }
    
  } // -service
    
  &-digits {
    @media (min-width: @screen-md-min) { 
      position: absolute;
      right: 0;
      bottom: 3px;
      background: #000 url("../images/digits.png") no-repeat left top;
      color: #fff;
      width: 56px;
      height: 25px;
      line-height: 15px;
      font-size: 13px;
      padding: 1px 0 0 10px;
      
      &-title {
        display: none;
      }
      
    }
    @media (max-width: @screen-sm-max) { 
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      background: @olive;
      color: white;
      .font-size(11);
      padding: 3px 5px 1px;
      
      &-title {
        text-transform: uppercase;
      }
      
    }
  } 
}