.index {
  clear: both;
  margin: 0 -@padding-base/2 10px;
  
  @media (min-width: @screen-md) {
    letter-spacing: -0.4em;
  }
  
  &-item {
    @media (min-width: @screen-md) {
      .col-xs-4;
      display: inline-block;
      letter-spacing: 0;  
    }
    position: relative;
    vertical-align: top;
    @media (min-width: @screen-md) {
      padding: @padding-base/2;
      height: 600px;
    }
    @media (max-width: @screen-sm-max) {
      margin-bottom: 15px;
    }
    
    
    &-image {
      overflow: hidden;
      img {
        display: block;
        margin: auto;
        width: auto;
        height: 260px;
      }
    }
    
    > a {
      display: block;
      border-top: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      padding: @padding-base/2;
      
      h3 {
        margin: 10px auto 0;
        text-align: center;
        letter-spacing: 1px;
        
        @media (max-width: @screen-sm-max) {
          margin-bottom: 15px;
          .font-size(18);
        }
        @media (min-width: @screen-md) {
          .font-size(14);
          max-width: 80%;
          min-height: 70px;
        }
      }
      
    }
    &-descr {
      border-bottom: #ccc 1px solid;
      border-right: #ccc 1px solid;
      border-left: #ccc 1px solid;
      background: #f3f2f1;
      padding: @padding-base/2;
      .clearfix();
      
      &-chars {
        width: 100%;
        margin-bottom: 30px;
       
        tr {
          td {
            padding: 2px 0;
            vertical-align: top;
          }
          td:first-child {
            .font-size(11);
            width: 60%;
          }
          td:last-child {
            width: 40%;
            .font-size(12);
            .f-hv-med;
            padding-left: 15px;
          }
        }
      }
      
      &-price {
        float: left;
        .col-xs-6;
        .font-size(20);
        .f-hv-med;
      }
      &-buy {
        float: right;
        .btn {
          .font-size(20);
          line-height: 32px;
          height: 32px;
          padding: 0 17px;
        }
      }
      
      
    }
    
  }
}