@dropdownH: 300px;

.nav-catalog {
  position: relative;


  &-dropdown {
    top: ((@navHeight)-1);
    
    @media (min-width: @screen-sm) {
      padding: 34px 0 20px 0;
      @media (max-width: @screen-md-max) {
        width: 740px;
      }
    }
    @media (min-width: @screen-lg) {
      left: -@padding-base;
      width: 800px;
    }
    @media (min-width: @screen-md-max) {
      left: -@padding-base;
    }
    @media (max-width: @screen-sm-max) {
      width: 100vw;
      left: -@padding-base/2;
    }
    
    
     
    &-list {
      @media (min-width: @screen-sm) {
        width: 238px;
        min-height: @dropdownH;
        .pull-left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        > li {
        
        
          > a {
            display: block;
            line-height: 20px;
            padding: 5px 18px;
            
          }
          
          &.hasSubitems {
            > a {
              &:after {
                content: "";
                background: @spline no-repeat 0 -185px;
                width: 8px;
                height: 18px;
                float: right;
              }
            }
          }
          
          @subBackgroundCommon: url("../images/subNavDropdown.png") no-repeat left 0 bottom 10px, @gray-light;
          > ul {
            background: @subBackgroundCommon;  
            display: none;
            border-right: @padding-base @gray-dark solid;
            border-bottom: @padding-base @gray-dark solid;
            margin-left: 18px;
            padding: 20px 10px 10px 82px;
            position: absolute;
            min-height: ((@dropdownH)+20);
            left: 220px;
            top: 34px;
            @media (min-width: @screen-lg) {
              width: 562px;
            }
            @media (min-width: @screen-sm) {
              @media (max-width: @screen-md-max) {
                width: 502px;
              }
            }

            li {
              padding: 3px 0;
              a {
                color: @gray-dark !important;
                .font-size(12);
                .f-hv-l;
              }
            }
          }
          &.catalog-dropdown-item-01 ul {
            background: url("../images/subIcon-01.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-02 ul {
            background: url("../images/subIcon-02.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-03 ul {
            background: url("../images/subIcon-03.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-04 ul {
            background: url("../images/subIcon-04.png") no-repeat 10px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-05 ul {
            background: url("../images/subIcon-05.png") no-repeat 10px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-06 ul {
            background: url("../images/subIcon-06.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-07 ul {
            background: url("../images/subIcon-07.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          &.catalog-dropdown-item-08 ul {
            background: url("../images/subIcon-08.png") no-repeat 20px 27px, @subBackgroundCommon;
          }
          
          &.hovered {
            > a {
              background: @gray-light;
              position: relative;
              color: @gray-dark !important;
              text-decoration: none;
              
              &:after {
                background-position: 0 -166px;
              }
              
              &:before {
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                border-left: @gray-dark 15px solid;
                border-top: rgba(0,0,0,0) 15px solid;
                border-bottom: rgba(0,0,0,0) 15px solid;
              }
              
            }
            > ul {
              display: block;
            }
          }
        }
      } // @media mid
      
      @media (max-width: @screen-sm-max) {
        
        &,
        & ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        
        > li {
          background: white;
          > a {
            color: @gray-dark !important;
            display: block;
            padding: 12px 20px;
            border-right: @green 20px solid;
            border-bottom: @gray-lighter   1px solid;
            position: relative;
            &:hover,
            &:focus, 
            &:active,
            & .hovered {
              color: @pink !important;
              text-decoration: none;
            }
          }
          &.hasSubitems {
            > a:after {
              content: "";
              position: absolute;
              right: -13px;
              top: 12px;
              border-left: 5px white solid;
              border-top: 7px rgba(0,0,0,0) solid;
              border-bottom: 7px rgba(0,0,0,0) solid;
              transition: transform 0.3s ease;
            }
          }
          &:last-child a {
            border-bottom-width: 0;
          }
          &.opened {
            > a {
              border-right-color: @gray-dark;
              &:after {
                transform: rotate(90deg);
                transform-origin: 50% 50%;
              }
            }
            > ul {
              max-height: 1000px;
            }
          }
          > ul {
            background: @gray-dark;
            color: white;
            max-height: 0;
            transition: max-height 0.3s ease;
            padding: 0 0 0 40px;
            overflow: hidden;
            li {
              a {
                color: white;
                display: block;
                border-bottom: 1px @gray-lighter solid;
                padding: 12px 20px;
              }
              &:last-child a {
                border-bottom-width: 0;
              }
            }
          }
        }
        
      }
      
    }
    
  }
  
}