.catList {
  position: relative;
  top: -3px;
  clear: both;
  margin-bottom: -3px;
  z-index: 0;
  
  @media (max-width: @screen-sm-max) {
    padding-top: 10px;
  }
  
  nav {
    @media (min-width: @screen-md) {
      width: 88%;
      margin: 0 auto;
    }
    @media (max-width: @screen-sm-max) {
      margin: 0 (-@grid-gutter-width)/2;
    }
    
    a {
      display: inline-block;
      padding-top: 60px;
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
      height: 95px;
      color: @black;
      .font-size(12);
      vertical-align: top;
      background-position: left 50% bottom 40px;
      background-repeat: no-repeat;
    
      @media (min-width: @screen-md) {
        width: 105px;
      }
      @media (max-width: @screen-sm-max) {
        width: 100px;
      }
    
      &.catList-item-01 {
        background-image: url("../images/catlist-item-01.png");
      }
      &.catList-item-02 {
        background-image: url("../images/catlist-item-02.png");
      }
      &.catList-item-03 {
        background-image: url("../images/catlist-item-03.png");
      }
      &.catList-item-04 {
        background-image: url("../images/catlist-item-04.png");
      }
      &.catList-item-05 {
        background-image: url("../images/catlist-item-05.png");
        background-position: left 50% bottom 45px;
      }
      &.catList-item-06 {
        background-image: url("../images/catlist-item-06.png");
      }
      &.catList-item-07 {
        background-image: url("../images/catlist-item-07.png");
      }
      &.catList-item-08 {
        background-image: url("../images/catlist-item-08.png");
      }
      
      
      &.catList-item-selected {
        height: 101px;
      }
      
      .category-01 &.catList-item-selected {
        border-bottom: 6px @categoryColor-01 solid;
      }
      .category-02 &.catList-item-selected {
        border-bottom: 6px @categoryColor-02 solid;
      }
      .category-03 &.catList-item-selected {
        border-bottom: 6px @categoryColor-03 solid;
      }
      .category-04 &.catList-item-selected {
        border-bottom: 6px @categoryColor-04 solid;
      }
      .category-05 &.catList-item-selected {
        border-bottom: 6px @categoryColor-05 solid;
      }
      .category-06 &.catList-item-selected {
        border-bottom: 6px @categoryColor-06 solid;
      }
      .category-07 &.catList-item-selected {
        border-bottom: 6px @categoryColor-07 solid;
      }
      
    }
  }
 
  &-dark,
    &-white {
      clear: both;
      text-align: center;
      padding-bottom: @padding-base;
    
      nav {
        width: 100%;
        
        a {
          background-position: left 50% bottom 40px;
          background-repeat: no-repeat;
          display: inline-block;
          .font-size(12);
          height: 95px;
          padding-left: 4px;
          padding-right: 4px;
          padding-top: 60px;
          text-align: center;
          vertical-align: top;
          width: 93px;
        }
      }
    }
  
    &-white nav {
      a {
      
        &.catList-item-01 {
          background-image: url("../images/catlist-item-01-white.png");
        }
        &.catList-item-02 {
          background-image: url("../images/catlist-item-02-white.png");
        }
        &.catList-item-03 {
          background-image: url("../images/catlist-item-03-white.png");
        }
        &.catList-item-04 {
          background-image: url("../images/catlist-item-04-white.png");
        }
        &.catList-item-05 {
          background-image: url("../images/catlist-item-05-white.png");
          background-position: left 50% bottom 45px;
        }
        &.catList-item-06 {
          background-image: url("../images/catlist-item-06-white.png");
        }
        &.catList-item-07 {
          background-image: url("../images/catlist-item-07-white.png");
        }
        &.catList-item-08 {
          background-image: url("../images/catlist-item-08-white.png");
        }
      }
    }
    
    &-dark nav {
      a {
        color: @gray-dark !important;
        
        &.catList-item-01 {
          background-image: url("../images/catlist-item-01-dark.png");
        } 
        &.catList-item-02 {
          background-image: url("../images/catlist-item-02-dark.png");
        }
        &.catList-item-03 {
          background-image: url("../images/catlist-item-03-dark.png");
        }
        &.catList-item-04 {
          background-image: url("../images/catlist-item-04-dark.png");
        }
        &.catList-item-05 {
          background-image: url("../images/catlist-item-05-dark.png");
          background-position: left 50% bottom 45px;
        }
        &.catList-item-06 {
          background-image: url("../images/catlist-item-06-dark.png");
        }
        &.catList-item-07 {
          background-image: url("../images/catlist-item-07-dark.png");
        }
      }
    }
 
}
