@navHeight: 47px;
@navHeightMobile: 100px;

@import "nav-aside.less";
@import "nav-dropdown.less";
@import "nav-catlist.less";

.nav {
  
  position: relative;
  top: -2px;
  background: @gray-dark;
  color: @white-darker;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  
  @media (min-width: @screen-md) {
    height: @navHeight;
  }
  @media (max-width: @screen-xs-max) {
    height: @navHeightMobile;
  }
  
  .container {
    @media (min-width: @screen-md) {
      height: @navHeight;
      padding: 1px 0;
    }
  }
  a {
    color: @white-darker !important;
  }
  
  /* Catalog */
  
  &-catalog {
  .pull-left;
    @media (min-width: @screen-md) {
      .col-xs-3;
    }
    @media (max-width: @screen-sm-max) {
    }
    
    &-open {
      .f-hv-l;
      .pull-left;
      line-height: @navHeight;
      height: @navHeight;
      text-decoration: none !important;
    }
  }
  
  /* Search Form */
  
  &-search {
    @media (min-width: @screen-sm) {
      @media (max-width: @screen-sm-max) {
        .col-xs-5;
        margin-left: 30px;
      }
    }
    @media (min-width: @screen-md) {
      .col-xs-4;
      margin-left: 15px;
    }
    
    @media (min-width: @screen-sm) {
      .pull-left;
    }
    @media (max-width: @screen-xs-max) {
      .pull-right;
    }
    
    @media (max-width: 459px) {
      width: 70%;
    }
    @media (min-width: 460px) {
      @media (max-width: @screen-xs-max) {
        width: 80%;
      }
    }
    
    height: 27px;
    margin-top: ((@navHeight)-27)/2;
    margin-bottom: ((@navHeight)-27)/2;
    background: @gray-form;
    padding: 1px;
    
    form {
      width: 100%;
      height: 100%;
      position: relative;
      
      button {
        .pull-right;
        width: 64px;
        height: 100%;
        background: @gray-dark;
        color: @white-darker;
        border-width: 0;
        .font-size(12);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
      }
      input[type=text] {
        background: none;
        border-width: 0;
        height: 100%;
        padding-left: 8px;
        width: 100%;
      }
      
    }
  }
  
  
  /* Personal block */
  
  &-personal {
  
    @media (min-width: @screen-sm) {
      @media (max-width: @screen-sm-max) {
        .col-xs-5;
      }
      .col-xs-4;
      .pull-right;
      padding: ((@navHeight)-(@personalH))/2 0;
    }
    @media (max-width: @screen-xs-max) {
      .pull-right;
      clear: both;
      width: 100%;
    }
    @personalH: 24px;
    @personalLH: 19px;
    text-align: right;
    position: relative;
  
    height: @personalH;
    
    .auth {
      display: none;
      
      width: 19%;
      
      .popup-link {
        display: inline-block;
        vertical-align: middle;
        line-height: @personalLH;
        text-align: left;
      
        &:before {
          content: "";
          .pull-left;
          width: 15px;
          height: @personalLH;
          background: @spline no-repeat 0 -60px;
          margin-right: 5px;
        }
      }
    }
    
    &-cart {
      display: inline-block;
      vertical-align: middle;
      height: @personalH;
      line-height: @personalH;
      
      @media (min-width: @screen-md) {
        border-left: lighten(@gray,10%) 1px solid;
        padding: 0 10px;
        margin-left: 10px;
      }      
      @media (max-width: @screen-sm-max) {
       
      }
      
      
        a:first-child {
          display: inline-block;
          height: @personalH;
          line-height: @personalH;
          
          &:before {
            content: "";
            .pull-left;
            width: 29px;
            height: @personalH;
            background: @spline no-repeat 0 -94px;
            margin-right: 5px;
          }
        }
      
        &-num {
          border-left: lighten(@gray,10%) 1px solid;
          display: inline-block;
          vertical-align: middle;
          line-height: 100%;
          padding: 0 8px;
          
          @media (min-width: @screen-md) {
            margin: 0 20px 0 6px;
          }      
          @media (max-width: @screen-sm-max) {
            margin: 0 6px 0 6px;
          }
          
        }
      
      
      .btn {
        
        @media (min-width: @screen-sm) {
          height: @personalH;
          .font-size(12);
          padding-left: 10px;
          padding-right: 10px;
        }
        @media (max-width: @screen-xs-max) {
          .font-size(18);
          padding: 10px;
        }
      }
      
    }
    
    
  }
  
}
