.popup {

  &-container {
    position: absolute;
    display: none;
    background: @gray-dark;
    color: @white-darker;
    z-index: 100;
    .clearfix();
    
    &-close {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 13px;
      height: 14px;
      background: @spline no-repeat 0 -205px;
      cursor: pointer;
    }
    
    &.opened{
      display: block !important;
    }
    
  }
}