@font-size-base:          14;
.font-size(@sizeValue) {
  @pxValue: @sizeValue;
  @remValue: (@sizeValue / @font-size-base);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}
.font-size-e(@sizeValue) {
  @emValue: (@sizeValue / @font-size-base);
  font-size: ~"@{emValue}em";
}

.f-hv { font-family: "helveticaneuecyrroman"; }
.f-hv-med { font-family: "helveticaneuecyrmedium"; }
.f-hv-l { font-family: "helveticaneuecyrlight"; }
.f-hv-b { font-family: "helveticaneuecyrbold"; }

@black: #000;
@gray-dark: #253139;
@gray: #474747;
@gray-form: #6a747b;
@gray-lighter: #808b8f;
@gray-light: #ebeae7;
@gray-background: #f6f6f6;

@blue: #0099cc;
@blue-light: #00e4ec;
@white: #fff;
@white-darker: #f0eeee;
@pink: #cc0066;
@green: #b8df00;
@yellow: #fbda31;
@olive: #8c8107;

@categoryColor-01: #b8df00;
@categoryColor-02: #119ad7;
@categoryColor-03: #e50b38;
@categoryColor-04: #fac35a;
@categoryColor-05: #8084c0;
@categoryColor-06: #27e3bf;
@categoryColor-07: #b8df00;
@categoryColor-00: @yellow;

@padding-base: @grid-gutter-width;

.col-xs-1 { width: 100%/12; }
.col-xs-2 { width: (100%/12)*2; }
.col-xs-3 { width: (100%/12)*3; }
.col-xs-4 { width: (100%/12)*4; }
.col-xs-5 { width: (100%/12)*5; }
.col-xs-6 { width: (100%/12)*6; }
.col-xs-7 { width: (100%/12)*7; }
.col-xs-8 { width: (100%/12)*8; }
.col-xs-9 { width: (100%/12)*9; }
.col-xs-10 { width: (100%/12)*10; }
.col-xs-11 { width: (100%/12)*11; }
.col-xs-12 { width: (100%/12)*12; }

@spline : url("../images/spline.png");



.btn {
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-width: 0;
}
.btn-apply {
  background: @pink; 
  color: @white !important;
  .f-hv-l;
}
.btn-apply:hover {
  background: @blue-light;
  text-decoration: none;
}

.btn-dark {
  background: @gray-dark; 
  color: @white;
}

.btn-link {
  background: @white; 
  color: @gray-dark !important;
  border: 1px @gray-dark solid;  
  .f-hv-l;
}
.btn-link:hover {
  background: @gray-dark;
  color: @white !important;
  text-decoration: none;
}