.linkBanner {

  padding: 30px 0;
  @media (min-width: @screen-sm) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 0 -@padding-base/2;
  }

  &-item {
    @media (min-width: @screen-md) {
      flex: 0 0 25%;
    }
    @media (min-width: @screen-sm) {
      @media (max-width: @screen-sm-max) {
        flex: 0 0 50%;
      }
    }
    @media (max-width: @screen-xs-max) {
      width: 270px;
      margin: 0 auto;
    }
    padding: @padding-base/2;

    > a {   
      display: block;    
      min-height: 160px;
      height: 100%;
      width: 100%;
      line-height: 42px;
      text-decoration: none;
      text-align: center;
      position: relative;
      .clearfix();
      padding: @padding-base/2;
    }
    
    &-icon {
      position: absolute;
      left: @padding-base/2;
      bottom: @padding-base/2;
    }
    
    &-yellow {
      background: url("../images/nav-yellow.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white !important;
    }
    &-green {
      background: url("../images/nav-green.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white !important;
    }
    &-pink {
      background: url("../images/nav-pink.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white !important;
    }
    &-blue {
      background: url("../images/nav-blue.jpg") no-repeat 0 0;
      background-size: cover;
      color: @white !important;
    }
    
  }
}