﻿@model NoName.Web.Models.ErrorPageModel
@{
    ViewBag.Title = Model.StatusCode + " ошибка";
}
<div class="error">
    <h1>@Model.ErrorMessage</h1>
</div>
<p>
    <span class="bold">@Model.ErrorDescription</span>
</p>
<p>
    Есть следующие пути решения:
    <ul>
        <li />Перейти на @Html.ActionLink("главную страницу", MVC.Home.Index())
        <li />Связаться с нами по телефону @Model.PhoneNumber
        <li />Либо перейти в интересующую Вас категорию товара
    </ul>
</p>
<div class="catalogContent">
    @foreach (var item in Model.Menu.ChildMenu)
    {
        <article class="catalogContent-item">
            <a href="@Url.Action(item.Action)">
                <figure class="catalogContent-item-image">
                    <img src="@item.Image.Src" alt="@item.Name"/>
                </figure>
                <span class="catalogContent-item-num">@item.GoodsCount</span>
                <h3>
                    @item.Name
                </h3>
            </a>
        </article>
    }
</div>
